@import  '../bourbon/bourbon';
@import '../neat/neat';


// font settings

$heading-font: Georgia, "Times New Roman", Times, serif;
$headings-font-family: Georgia, "Times New Roman", Times, serif;
$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$highlight-font: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;


// Responsive Sizes

$extra-small: 20em;
$small: 30em;
$small-landscape: 36em;
$small-desktop:54em;
$medium: 61.250em;
$medium-large: 68em;
$large: 75em;
$laptop-large: 80em;
$highres-view: 95em;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 4);
$mobile: new-breakpoint(max-width 500px 4);
$large:  new-breakpoint(max-width 1200px 12);



//Colors
$white: #ffffff;
$off-white: #faebd7;
$caption-cream: #f2e2cd;
$light-grey:#f2f2f2;
$btn-grey: #f5f5f5;
$light-background-grey:#e7e7e7;
$border-grey: #dadada;
$caption-grey: #f9f9f7;
$med-grey: #b7b7b7;
$dark-grey: #222;
$nav-shade-grey: #777;
$shaded-grey: #efefef;
$default-color: #888;
$gray: #555;
$grey: #252217;
$dk-grey: #0f0e09;
$bg-color: #fff;
$bp-primary-bright: #7faf2b;
$bp-primary: #71982e;
$bp-dk-primary: #648c1f;
$bp-lt-primary: #8bbd34;
$bp-primary-btn: #749e2c;
$bp-primary-btn-border: #6b902a;
$bp-primary-required: #c24603;
$nav-grey: #f8f8f8;
$nav-border-grey: #e8e8e8;
$enews-icon: #00b5e9;
$contact-icon: #b3bb00;
$search-icon: #e08434;
$err-message: #d03903;
$err-message-border: #a42f05;

$link-color: #92b753;
$link-hover-color: #74ad10;

//theme colors
$orange: #e46e05;
$blue: #097dc5;
$green: #7faf2b;

//Bootstrap Variables
$brand-primary:         darken(#7fae2d, .5%) !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #b75c0b;
$brand-danger:          #d9534f !default;


//layout
$max-width: 1230px;
