// BRP specific styles

.brp .head #website-name a {
	font-size: 28px;
	line-height: 1.2;
}


.brp .article-list.card-display .article-item .article-item-body {

	h4, p, .article-excerpt {
	text-align: center;
  }

	h4 {
		font-size: 1em;
		margin: 0;
	}

	p {
		line-height: 1.3;
	}

}

.article-list.card-display .article-item {
	border: none;
}


.brp .article-list ul {
	max-width: 91%;
}
