// Coastal Fellowship Template

$white: #fff;

//extended earth colors

$brownlt: #E7D0B8;
$greenlt: #F2EDC4;
$bluelt: #E4EEF4;
$brownlter: #F7EBD9;
$graylt: #EAE9E8;
$default: #333;

//timeline colors

$dkgray: #9B9593;
$dkbrown: #C59868;
$dkblue: #7DA8C1;
$dkyellow: #E1CF7F;
$dkgreen: #8B9801;
$dkpink: #E7D0B8;

.center{
	text-align: center;
}

h4{
	padding: .5em 0;
}

h4.lgfont{
	font-size: 25px;
}

@mixin no-padding{
	padding: 0;
	margin: 0;
}

@mixin flex {
	display: flex;
	align-items: center;
}

@mixin backgroundImg{
	background-repeat: no-repeat;
	background-position: center;
}

@mixin circle{
	border-radius: 50%;
}

@mixin listnone{
	list-style-type: none;
}

@mixin infographic {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin lgfont {
	font-size: 16px;
}

@mixin photo-credit {
	position: absolute;
  font-size: 12px;
  right: 5%;
	bottom: 5%;
	color: $white;
}

@mixin icon {
	@include span-columns(3 of 12);
}

@mixin content-after-icon {
	@include span-columns(9 of 12);
}

.scrollToTop{
	display: none;
	p{
		font-size: 12px;
		line-height: 15px;
		margin: .5em 0;
		font-weight: 400;
	}
	text-align: -webkit-center;
	text-align: center;
	.scrollTop{
		border-radius: 8%;
	  position: fixed;
		top: 20px;
	  right: 2%;
	  width: 60px;
	      height: 95px;
		background-color: darken($bluelt, 20%);
		z-index: 3;
		cursor: pointer;
		@include media($mobile) {
			display: none;
		}
		.glyphicon{
			top: 15px;
    font-size: 25px;
    padding: .25em 0;
    margin: 0 0 .25em 0;
		}
	}
}

p.photo-credit, div.photo-credit{
	font-size: 12px;
	color: $white;
	position: absolute;
	right: 5%;
	bottom: 2%;
}

.image-list{
	.col:first-of-type{
		@include span-columns(3 of 12);
	}
	.col:nth-of-type(2){
		@include span-columns(9 of 12);
	}
}

.column-2{
	@include span-columns(12);
	.img-container{
		position: relative;
	}
	.col:first-of-type .img-container::after{
		@include photo-credit;
		content: 'PJeganathan';
	}
	.col:nth-of-type(2) .img-container::after{
		@include photo-credit;
		content: 'Chris Gardner';
	}
	.col{
		@include span-columns(6 of 12);
		@include media($mobile) {
			@include span-columns(12 of 12);
		}
	}
	.glyphicon-ok{
		color: #8B9801;
	}
}


.page-template-full-width-template #bp-article-content{
	@include no-padding;
}


.full-width{
	@include no-padding;
	width: 100%;
}

.page-template-full-width-template,
.page-template-full-width-template-sp{
	.logo-second{
		width: 215px !important;
		@include media($mobile){
			width: 170px !important;
			margin-top: 0 !important;
		}
	}
}

.carousel-indicators{
	display: none;
}
.page-template-full-width-template,
.page-template-full-width-template-sp{
	.clearfix{
		height: 0;
	}
			.content{
		  @media only screen and (min-width: 1100px) {
				p{
					min-width: 1100px;
					width: 100% !important;
			}
		}
	}
	.carousel-text {
		top: 65% !important;
		transform: translateY(-50%);
		bottom: auto !important;
		padding: 1.5em !important;
		background: rgba(51, 51, 51, .65);
		border-radius: 8px;
		max-width: 100% !important;
		width: 50% !important;
		left: 25% !important;

		p {
			color: $white !important;
			max-width: 100%;
		}
		button a{
			color: $white;
		}
		button a:hover{
			text-decoration: none;
		}
		@include media($mobile) {
			position: absolute !important;
	    color: $white !important;
	    left: 50% !important;
	    transform: translate(-50%, -50%);
	    top: 50% !important;
	    width: 91% !important;
			p{
				font-size: 16contentpx;
			}
			h1 {
				color: $white !important;
			}
	  }
	}

	.carousel.home .carousel-inner .item img{
		@include media($mobile) {
			object-fit: cover;
			min-height: 450px;
		}
	}

	.carousel.home .carousel-inner .item{
		@include media($mobile) {
			min-height: 450px;
		}
	}

	.carousel.home a.carousel-control.left,
	.carousel.home a.carousel-control.right{
		@include media($mobile) {
			display: none;
		}
	}

}

.full-width article{
	margin: 3em 0;
}

.google-mymap{
	.embed-container {
		position: relative;
		padding-bottom: 32.25%;
		height: 0;
		margin-top: 2em;
		overflow: scroll;
		max-width: 100%;
		min-height: 600px;
		max-height: 600px;
	}

	.map-overlay{
		background: transparent;
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		max-height: 600px;
	}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		min-height: 600px;
		max-height: 600px;
	}
}

.video-wrapper-csf{
	position: relative;
	padding-bottom: 38.25%;
	height: 0;
	overflow: hidden;
	width: 100%;
	max-width: 1550px;
	.video-player-csf iframe,
	.video-player-csf object,
	.video-player-csf embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

	/*.video-player{
		position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;

		iframe {

		  width: 100%;
		  height: 100%;
		}
	}
}*/

.infographic{
	@include infographic;
}

.full-width .banner{
	@include no-padding;
	@include backgroundImg;
	@include flex;
	@include span-columns(12);
	background-size: cover;
	background-position: top center;
	width: 100%;
	margin-bottom: 3em;
}

.full-width .hp-banner{
	background-size: cover;
  background-position: top;
}

.full-width .no-text{
	min-height: 800px;
}

.full-width .container{
	@include no-padding;
	max-width: 1150px;
	margin: 0 auto;
	float: none;
	position: relative;
  z-index: 1;
	clear: both;
	@include media($mobile) {
  	max-width: 94%;
  }
	@media(max-width: $medium){
		max-width: 94%;
	}
}

.banner-txt h3{
	@include span-columns(8);
	color: $white;
	font-size: 28px;
	padding: 9.5em 0;
	line-height: 40px;
}

article.content{
	@extend .container;
	@media(max-width: $medium){
		max-width: 94%;
	}
}

article.content h3{
	padding: 1em 0;
}

article.content:first-of-type h3{
	@include media($mobile){
	padding: 0 0 1em;
	}
}

.world-map{
	@extend .container;
	@include flex;
	font-weight: 400;
	font-size: 16px;
	background-color: #00688E;
	@include media($mobile) {
		background-image: none;
		font-size: 14px;
	}
	background-repeat: no-repeat;
	background-position: top right;
	min-height: 570px;
	.map-container{
		@include span-columns(6 of 12);
		@include shift(+1);
		flex-wrap: nowrap;
		padding: 2em 0 5em;
		@include media($mobile) {
	  @include span-columns(12 of 12);
		padding: 0 .5em;
		background-color: #00688E;
	  }
	}
	.row{
		display: flex !important;
		align-items: center;
		@include span-columns(12 of 12);
	}
	.icon{
		@include icon;
	}
	.marker{
		@include backgroundImg;
		@include circle;
		background-position: inherit;
		position: relative;
		width: 85px;
		height: 85px;
		margin: 1em 0;
		content: '';
		@include media($mobile) {
			width: 70px;
			height: 70px;
		}
		p.mk-credit{
			font-size: 11px;
			color: $white;
			text-align: -webkit-center;
	    position: absolute;
	    width: 84px;
	    bottom: -2em;
	    left: 50%;
	    transform: translateX(-50%);

		}
	}
	.content{
		@include span-columns(8 of 12);
		@include shift(+1);
	}
	p, h4{
		color: $white !important;
	}
	p{
		font-weight: 400;
		margin: 0;
	}
	.lgfont{
		@include span-columns(8 of 12);
		@include shift(+3);
		padding-bottom: 0;
	}
}

.column-area .col-left,
.column-area .col-right{
	max-width: 350px;
}

.column-area .col-left{
	float: left;
}

.column-area .col-right{
	float: right;
}

.col-container{
	max-width: 750px;
}

.benefits {
	background-size: cover;
  background-position: top;
	position: relative;
	color: $white;
	padding: 4em 0;
	font-size: 16px;
	.lg-font{
		font-size: 38px;
		font-weight: 300;
		text-align: -webkit-center;
		padding-bottom: 1em;
	}
}

.column-2{
	.glyphicon{
		padding-right: 15px;
	}
}

.benefits ul.benefits-list{
	@include listnone;
	display: flex;
  padding: 1em 0;
	justify-content: space-around;
 	position: relative;
  text-align: center;
	margin: 0em 0 5em;
	@include media($mobile) {
  display: block;
  }
}

.benefits ul.benefits-list li ul{
	@include listnone;
	@include no-padding;
	text-align: -webkit-center;
}

.benefits ul.benefits-list li:first-child ul{
	padding-left: 0;
}

.benefits ul li ul li.num{
	@include circle;
	font-size: 36px;
	border: solid 2px #fff;
}

.benefits ul li ul li.desc{
	padding: 1em 1em 0;
}

.benefits ul li ul li.num,
.benefits ul li ul li.num2{
		@include flex;
    justify-content: center;
    width: 110px;
    height: 110px;
}

.benefits ul li ul li.num2{
	font-size: 45px;
}

.benefits ul li.plus{
	line-height: 5em;
  color: $white;
  font-size: 20px;
}

.benefits .benefits-left{
	@include listnone;
	@include span-columns(4 of 12);
	@include media($mobile) {
		@include span-columns(12 of 12);
	}
	color: $white;
	padding-left: 0;
	.benefits-left-item{
		@include span-columns(12 of 12);
		margin: 1em 0;
		.icon{
			@include icon;
		}
		.content{
			@include span-columns(9 of 12);
			padding: 1em 0 0;
		}
		p{
			color: $white;
			font-weight: 400;
		}
	}
}

.hp-timeline{
	position: relative;
	background-size: cover;
	padding: 4em 0;
	background-size: cover;
  background-position: center;
	@include span-columns(12);
}

.hp-timeline .hp-item img{
	max-height: 50px;
}

.hp-timeline .timeline-wrapper{
	@include listnone;
	@include span-columns(12 of 12);
	.benefit-item{
		@include span-columns(4 of 12);
		padding: 0 1em;
		@include media($mobile) {
			@include span-columns(12 of 12);
		}
		.icon{
			@include icon;
		}
		.content{
			@include content-after-icon;
			font-weight: 400;
			.hr{
				border-top: solid 2px $white;
				margin-top: 2em;
				padding-top: 2em;
			}
		}
	}
}

.hp-timeline p{
	color: $white;
}

.hp-timeline ul.benefits-list li:before{
		@include backgroundImg;
		content: '';
    width: 122px;
    position: absolute;
    margin-left: -110px;
}

.application{
	margin: 5em auto !important;
	.header{
		width: 100%;
		background-color: $brownlt;
		padding: .5em;
		text-indent: 1em;
	}
	.column-container{
		@include flex;
		@include media($mobile){
			display: block;
		}
	}
	.column-1,
	.column-2{
		width: 45%;
		margin-right: 0;
		padding: 2em 1em 1em;
		height: 200px;
		@include media($mobile){
			width: 100%;
			height: 230px;
		}
		img{
			height: 55px;
		}
	}
	.column-1{
		background-color: $greenlt;
	}
	.column-2{
		background-color: $bluelt;
	}
	.icon{
		text-align: center;
		@include icon;
	}
	.arrow{
		width: 10%;
		height: 0;
		border-style: solid;
		border-width: 100px 0 100px 100px;
		border-color: transparent transparent transparent $greenlt;
		background-color: $bluelt;
		margin-right: 0;
		@include media($mobile){
			display: none;
		}
	}
	.content{
		@include content-after-icon;
	}
}

.signup{
	@include backgroundImg;
	padding: 15em 0 35em;
	margin: 3em 0 0 !important;
	position: relative;
	@include media($mobile){
		padding: 5em 0 20em;
	}
	.proposals{
		@include span-columns(8 of 12);
		@include shift(+2);
		@include media($mobile) {
			@include span-columns(12 of 12);
			@include shift(0);
		}
		background: rgba(176, 205, 175, .9);
		border-radius: 8px;
		padding: 2em;
	}
}
