// Land Trust specific styles
.landtrust {
	
  .head {	
	  
    .navbar-header {	
	      
	    .brand-wrapper {
		  
			    #website-name a {
				font-size: 26px;
				color: #222;		
			   } 	
		}  
    }		  
  }	
  
  &.category-news {
	  span.attribution {
		  display: none;
	  }
  }
  
  .article-list.card-display.no-excerpt .article-item {
    height: 200px;
  }  
  
  .sidebar .widget h3 {
	 text-transform: none;
  }
  
  .footer-wrap .foot .contact-info .contact-list li a {
     font-size: 13px;
  }    
  
  @media(max-width: $medium){
		
	  .head {	
		  
	    .navbar-header {	
		      
		    .brand-wrapper {
			    
			    #website-name a {
	            font-size: 24px;
	            } 
	        }
	    }        
	} 
  }	      
  				
  @media(max-width: $small){
		
	  .head {	
		  
	    .navbar-header {	
		      
		    .brand-wrapper {
			    
			    #website-name a {
	            font-size: 22px;
	            line-height: 1.2;
	            } 
	        }
	    }        
	} 
	
	  
	  .hero-large {
		 padding: 0 15px;
	     background-position: 54% 45% !important;
	     min-height: 250px;
	     
	        h3, a, p {
		       max-width: 100%;
		       padding-left: 0 !important;
	        }
	        
	        h3 {
		       font-size: 20px;
		       padding-top: 20px;
	        }
	        
	        a.btn.btn-primary {
		        max-width: 43%;
	        }
	   }     
  }	 
       	  
}



// Success Story page styles
.success-story {
    max-width: 1230px;
	margin: 0 auto;
    @include outer-container();
    
       
     p {
	     max-width: 100%;
     }
     
     
	.grid {
		@include span-columns(10);
		@include shift(1);
		float: none;
		
		.subnav-wrapper {
			padding-left: 0;
		}
		
		h1 {
			margin-bottom: 15px;
		}
       
        iframe {
		  margin-bottom: 15px;
        }
        
		 // article list card-style  
		.article-list.card-style {
			@include span-columns(12);
			margin: 0 auto;
		  
		     ul {    
		      padding-left:0;
		       
			   .article-item {
				   @include span-columns(3);
				   max-width: 240px;
				   @include clearfix;
				   border: 1px solid $border-grey;
				   max-height: 300px;
				   min-height: 300px;
				   margin-bottom: 40px;
				   overflow: hidden;
	
			   
				   &:nth-child(4n+0) {
					   margin-right: 0;
				   }
				   		   
				   .article-item-media {
					   max-width: 100%;
					   width: 100%;
				   }
				   
				   .article-logo {
					   float: left;
					   clear: left;
					   margin-right: 10px;
					   margin-left: 5px;
					   
					   img {
						   max-width: 100px;
						   width: 90%;
						   height: 90%;
					   }
				   }
			   		   				   
				   .article-item-body {
					   width: 100%;
					   padding: 0 15px;
					   
					   h4 {
						   font-size: 1em;
					   }
					   
					   .attribution {
						   font-size: 12px;
					   }
					   
					        			 
					   .article-excerpt {
							font-size: 12px;

					   }
					   
			       }

			       
			  }
			}
		}
		
		// article list list-style  
		.article-list.list-style {
			@include span-columns(10);
			margin: 15px auto;
			clear: left;
			
			.article-item-media {
				@include span-columns(3);
			}
			
			.article-item-body {
			 @include span-columns(5);
			 
	 			.article-excerpt {
					font-size: 12px;
			    }

			}
			
			.article-logo {
				@include span-columns(2);
				margin-bottom: 5px;
				max-width: 80px;
			}
		}
			 		
	}
	
		
		
		
	@media(max-width: $medium){
	 .grid { 
		@include span-columns(12);
		@include shift(0); 	 
		padding: 0 15px;
	    
	    iframe.map-embed {
		    width: 100%;
		    height: 280px
        }
		
		
		h1 {
			margin-bottom: 15px;
		}
		
	   .article-list.card-style, .article-list.list-style {
		   
	  
		ul {       
		    .article-item {	
			@include span-columns(12);
			min-height: initial;
			max-height: initial;
	        border: none;
	        border-bottom: 1px dotted $border-grey;
	        max-width: 100%;
	        margin-bottom: 15px;
	        padding-bottom: 15px;
		      
		        &:last-child {
			        border: none;
		        }
			    			    
				.content-download span {
					right: 0;
				}
		    
			    .article-item-media {
				    @include span-columns(4);
			    }
			    
			    .article-logo {	  
				    display: none; 
			    }
			    
				.article-item-body {
				    @include span-columns(8);
				}
				
				
				
			}   
	    }
	  }	
	  
	  }					
	}		

}
