.article-item {
	overflow: hidden;

	    .article-item-body {

			   h4 {
				 font-family: $heading-font;
				 font-size: 1.125em;
				 margin:5px 0;

			       			a {
							 text-decoration: none;
							 color: $grey;
							 line-height: 1.4;


							   &:hover {
								   text-decoration: underline;
								   color: $bp-primary;
							   }
							}

					@media(max-width:$small){
						margin: 0;
					}
			   }

			   i.fa-external-link {
				   color: $bp-primary;
				   margin-left: 8px;
			   }

			   span.attribution {
				   color: #a4a4a4;
				   font-weight: 400;
			   }

		}

		.article-item-media {
		  margin-bottom: 10px;
		  overflow: hidden;

		  img {
			  width: 100%;
		  }
		}


		.content-video, .content-download {
		  position: relative;

		   span {
		    z-index: 100;
		    padding: 0;
            position: absolute;

			    &::before {
			    font-family: FontAwesome;
			    text-rendering: optimizeLegibility;
			    position:absolute;
			    font-weight: 100;
			    color: rgba(255,255,255,.9);
			    background-color: rgba(0,0,0,.5);
			    }

		   }

		}


		.content-video {

		    span {
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    margin: 0 auto;
		    text-align: center;

			    &::before {
			    @extend .hvr-grow;
			    font-family: FontAwesome;
			    font-size: 22px;
			    border: 3px solid rgba(255,255,255,0.9);
			    border-radius: 40px;
			    padding: 6px 14px 14px 15px;
			    content: "\f04b";
			    height: 48px;
			    width: 48px;
			    left: 50%;
			    top: 50%;
			    margin-top: -24px;
			    margin-left: -24px;



			    	&:hover {

			    	}
			    }

			}
		}

		.content-download {

		    span {
			 bottom: 0;
		     right: 0;

			    &::before {
				@extend .hvr-bob;
				font-size: 19px;
			    padding: 2px 7px;
			    content: "\f019";
			    margin-top: -31px;
			    margin-left: -32px;
			    }
			}
		}

}

.article-list {
	@include outer-container();
	@extend .clearfix;
	padding: 0;
	margin: 0;

	&.list-style.narrower {
		width: 70%;
		max-width: 70%;
		min-width: 70%;

		h3 {
			margin-bottom: 20px;
		}

		h4 {
		margin: 0;

		    &.article-item-header {

					  a {
						font-size: 20px !important;
				  	}
				}
		}

		.attribution {
			font-size: 14px;
		}

		@media(max-width: $small) {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		}

	}

	ul {
		margin: 0;
		padding: 0;

	}

	&.intro ul,
	&.full ul{
		max-width: 100% !important;
	}

	&.card-five,
	&.card-four{
		&.center{
			ul{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}

	&.simple-list {
		ul {
			max-width: 100%;
		}
	}

    &.list-style, &.list-style.simple-list {

		ul {
				margin: 0;
				padding: 0;
				max-width: 100%;


				li.article-item {
					@include span-columns(12);
					border-bottom: 1px dotted $med-grey;
					margin-bottom: 1.75em;
					margin-right: 20px;
					padding-bottom: 1em;
					text-align: left;

					&:last-child {
						border-bottom: 1px dotted transparent;
					}




							.article-item-media {
							@include span-columns(4);

							    img {
								    float: none;
							    }

							}

							.article-item-body {
							 @include span-columns(8);
							 padding: 0;
							 margin: 0;

							  h4  {
							  margin: 0 0 5px;
								  a {
									  font-size: 18px;
								  }
							  }

							  p.article-excerpt {
								  max-width: 100%;
								  font-size: 14px;

								  a {
									display: block;
							      }

							  }


							  .no-offset-sidebar, .offset-sidebar  {
								  ul, ol {
									  padding: 5px 20px;
								  }
							  }

							}


		              @media(max-width:$medium) {
							     .article-item-media {
							      @include span-columns(3);
							     }

							     .article-item-body {
							      @include span-columns(9);
							      padding-left: 10px;

							          h4 {
								          a {
									          font-size: 16px;
								          }
							          }
							     }
						    }


							@media(max-width:$small) {
								@include span-columns(12);
								padding: 0 15px;
								border-bottom: 1px dotted transparent;

										.article-item-media {
										@include span-columns(3);

										    img {
											    float: none;
										    }

										}

										.article-item-body {
										 @include span-columns(8);
										 padding: 0;
										 margin: 0;
										}
						    }
				}
		}

	}


    &.card-display {

	    ul {
		    padding: 0;
		    margin: 0;
	    }

	    .article-item {
		    border: 1px solid $border-grey;
			max-width: 240px;
			height: 300px;
			margin-bottom: 20px;


			   .article-item-media {
				   max-width: 100%;
				   width: 100%;
			   }

			   .article-item-body {
				   width: 100%;
				   padding: 0 15px;
				   text-align: left;

				   .attribution {
					   font-size: 12px;
				   }

				   .article-excerpt {
					   font-size: 12px;
				   }

		       }

			@media(max-width: $medium){
				min-height: initial;
				max-height: initial;
		        overflow: visible;
		        border: none;
		        border-bottom: 1px dotted $border-grey;
		        max-width: 100%;
		        height: auto;
		        margin-bottom: 15px;
		        padding-bottom: 15px;


		        &:last-child {
			        border: none;
		        }

				.content-download span {
					right: 0;
				}

			    .article-logo {
				    display: none;
			    }
		    }
		}

		&.no-excerpt {
		  .article-item {
			height: 220px;

			 @media(max-width: $medium) {
				 height: auto;
			 }
		   }


 			 &.increase-height {
 				 .article-item {
 					 height: 240px;

 						  @media(max-width: $medium) {
 							 height: auto;
 						 }

 				 }
 			 }
		}//end no-excerpt

        &.card-three {
		@include outer-container(12);
		padding: 0;
		margin: 0;
		float: left;
		clear: left;
		width: 100%;

		    ul {
			    max-width: 100%;

			   .article-item {
				   @include span-columns(4);
				   @include pad(0);


				   &:nth-child(3) {
					   margin-right: 0;
				   }

				}
			}

			@media(max-width: $medium){

		      ul {
			    .article-item {
				@include span-columns(12);

				    .article-item-media {
					    @include span-columns(4);
				    }

					.article-item-body {
						@include span-columns(8);
						text-align: left;
					}

				}

			   }
		    }
		}
			&.card-five {
				/*@include outer-container(12);*/
				padding: 0;
				margin: 0;
				float: left;
				clear: left;
				width: 100%;

						ul {
							max-width: 100%;

						 .article-item {
							 /*@include span-columns(2);*/
							 @include pad(0);

							 	float: left;
						    display: block;
						    margin-right: 3%;
						    width: 17.6%;
						    padding: 0;

							 &:nth-child(5) {
								 margin-right: 0;
							 }

						}
					}
					@media(max-width: $medium){

							ul {
							.article-item {
								@include span-columns(12);
								&:nth-child(4) {
									@include shift(0);
								}
							}

								.article-item-media {
									@include span-columns(4);
								}

							.article-item-body {
								@include span-columns(8);
								text-align: left;
							}

						}

						 }
				}


		&.card-four {
		@include outer-container(12);
		padding: 0;
		margin: 0;
		float: left;
		clear: left;
		width: 100%;

		    ul {
			    max-width: 100%;
			    padding: 0;
			    padding-right: 15px;

			   .article-item {
				   @include span-columns(3);
				   @include pad(0);


				   &:nth-child(4n + 0) {
					   margin-right: 0;
				   }

				}
		}


		@media(max-width: $medium){

	      ul {
		    .article-item {
			@include span-columns(12);


			    .article-item-media {
				    @include span-columns(4);
			    }

			    .article-logo {
				    display: none;
			    }

				.article-item-body {
					@include span-columns(8);
					text-align: left;
				}

			}

		   }
	    }
	}
	}

	&.no-image {

	  ul {
		max-width:100%;
		  li.article-item {
		  padding-bottom: 0;

		      .article-item-body {
			   width:100%;
			  }
		  }

	  }
  }


	&.no-border {

		.article-item {
			border: none;
		}

	}

}

.home .grid .article-list.card-three {
    @include outer-container(12);
	padding: 0;
	margin: 0;
	width: 100%;

	ul {
	 padding-top: 15px;
	 max-width: 100%;

	    .article-item {
		 @include span-columns(4);
		 @include pad(0);

		    &:nth-child(3) {
			  margin-right: 0;
			}


			.article-item-media, .article-item-body {
				max-width: 100%;
			}

			@media(max-width: $small) {
				margin-bottom: 15px;
			}
		}

		@media(max-width: $medium) {
			.article-item {
			 @include span-columns(12);

			 	.article-item-media {
				 @include span-columns(4);
			 	}

			 	.article-item-body {
				 @include span-columns(8);
				}

			}
		}
    }

}

.sidebar .widget {
	  max-width: 100%;
	  padding: 0 15px;

		.article-list {
			@include outer-container();
			padding: 0;
			margin: 0;

		    ul li.article-item {
			 @include span-columns(12);
			 @include pad();


					    .article-item-media {
						    @include span-columns(5);

						    img {
							    max-width: 100%;
						    }
					    }

						.article-item-body {
						    @include span-columns(7);

						    h4 {
							  padding: 0;
							  margin: 0;
							  padding-left: 10px;

						      a {
						        font-size: 14px;
							   }
						    }
						}

						.content-video {
							span {

								&::before {
								    font-family: FontAwesome;
								    font-size: 18px;
								    border: 3px solid rgba(255,255,255,0.9);
								    border-radius: 40px;
								    padding: 4px 14px 14px 10px;
								    content: "\f04b";
								    height: 36px;
								    width: 36px;
								    left: 50%;
								    top: 50%;
								    margin-top: -18px;
								    margin-left: -18px;
								}
							}
						}



		    }

			@media(max-width: $small){
                @include span-columns(12);

					.content-download span {
						right: 0;
					}

					.content-video {
						span {
						    &::before {
						    font-size: 22px;
						    padding: 6px 14px 14px 15px;
						    height: 48px;
						    width: 48px;
						    margin-top: -24px;
						    margin-left: -24px;
						    }
				        }
				    }

				   ul li.article-item {
					  padding-left: 0;

					    .article-item-media {
						    @include span-columns(4);
					    }

						.article-item-body {
						    @include span-columns(8);

						    h4 {
							    a {
								    font-size: 16px !important;
								    line-height: 1.5;
							    }
						    }
						}
				   }
			}


		}//article list


}

.comment-sidebar-section {

	.article-list {

		&.list-style {


			.article-item {

				.content-video span::before {
				    font-family: FontAwesome;
				    font-size: 20px;
				    border: 3px solid rgba(255,255,255,0.9);
				    border-radius: 40px;
				    padding: 2px 14px 14px 10px;
				    content: "\f04b";
				    height: 38px;
				    width: 38px;
				    left: 50%;
				    top: 50%;
				    margin-top: -19px;
				    margin-left: -19px;
				}
			}

	        .article-item .article-item-body {
		       padding-left: 10px;

	            h4 a {
					font-size: 16px;
					line-height: 1.5;
				}
			}

		}// end list-style

	}

}

// styles for simple list
.simple-list {

  ul {

	li.article-item {

		h1, h2, h3 {
			margin-top: 0;
		}

		.article-item-body {



			p {
				line-height: 1.6;
				font-size: 14px;
				margin-bottom: 5px;
			}

		}
	}
  }
}

.btn-pagination {
	float: left;
	clear: left;

	.bp-next-prev {

		.btn-default {
			background-color: $bp-primary-btn;
			color: $white;

			a {
				color: $white;
				display: block;

			    &:hover {
				    text-decoration: none;
				    color: $off-white;
			    }
			}

			  &,
			  &:active,
			  &.active {
			    &:focus,
			    &.focus {
			      @include tab-focus;
			    }
			  }

			  &:hover,
			  &:focus,
			  &.focus {
			    color: $bp-dk-primary;
			    text-decoration: none;
			  }

			  &:active,
			  &.active {
			    outline: 0;
			    background-image: none;
			    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
			  }
			}
	}
}

.sortby-dropdown {
	position: relative;
	float: right;
    clear: right;
    margin-bottom: 15px;

    button.dropdown-toggle {
	    border-color: $med-grey;

	    span {
		    margin-left: 4px;
	    }

	}

   .dropdown-menu.dropdown-menu-right {

	   .glyphicon.glyphicon-ok {
		   margin-right: 5px;
	   }

   }

   @media (max-width:$medium) {

			button.dropdown-toggle {
				font-size:12px;
			   }
    }

   @media (max-width:$small) {
	   float: left;

	      .dropdown-menu.dropdown-menu-right {
	        right: auto;
            left: 0;
          }
   }
}



// Styles for narrower views
@media(max-width:$small){

	    .article-list.list-style ul {
	      li.article-item {
		      padding: 0;
		      padding-bottom: 20px;
		      border-bottom: 1px dotted $med-grey;


		      .article-item-media {
			      margin-right: 15px;
		      }

	      }
	    }

	    .article-list.list-style.simple-list {

			ul {

			  li.article-item {
				padding: 0;
				margin-right: 0;
				  h3 {
					  font-size: 20px;
				  }
			   }
			}
		}

        .article-item-body, .article-list.card-three ul li.article-item .article-item-body {
	        padding-left: 10px;

			h4.article-item-header a {
				font-size: 16px;;
			}

			.attribution {
				font-size: 11px;
			}
		}
}
