/* audio player options-------------------------- */


//soundcloud player
.audio-soundcloud {
    margin: 30px auto;
    width: 100%;
    border-bottom: 3px solid #eee;
    padding-bottom: 15px;
    float: right!important;
	clear: both;

	.audio-container {
		
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 0;
	    height: 0;
	    overflow: hidden;
			
			iframe {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
			}
	}
}


.audio-soundcloud.small {
	max-width: 37%;
    margin-left: 30px;
}

	
.audio-soundcloud.medium {
	max-width: 55.65%;
    height: auto;
    margin-left: 30px;	
}

.audio-soundcloud.large {
	max-width: 100%;

}	

@media(max-width: $small) { 
	
	.audio-soundcloud.small, .audio-soundcloud.medium, .audio-soundcloud.large {
	     max-width: 100%;
	     width: 100%;
	     padding: 0;  
    } 
}



//jplayer
.jp-flat-audio {
	max-width: 38%;
	margin: 30px 20px 0;
	margin: 10px 0 0;
	height: 30px;
	clear:left;
	
	
	.jp-button {
		width: 40px;
		line-height: 30px;
		
		&:before {
			line-height: 30px;
			width: 40px;
			font-size: 26px;
		}
	
	    &:focus {
		background-color: $bp-lt-primary;
	    }
	}
	
	.jp-control {
		width: 40px;
	}

	.jp-bar {
		left: 40px;
		background-color: #615c5a;
	}
	
	.jp-duration, .jp-timing {
		line-height: 30px;
	}
	
	img {
		padding: 0;
	}
	
	.jp-seek-bar.jp-seek-bar-display {
		background-color: #615c5a;
	}
    
    @media(max-width: $medium) {
	    max-width: 70%;
    }
    
    @media(max-width: $small) {
	 	max-width: 94%
	}  
	    
}//end jp-flat-audio

.jp-flat-audio .jp-control {
    background-color: $bp-primary;
}

.jp-flat-audio .jp-play-bar {
    background-color: $bp-dk-primary;
}

.jp-flat-audio .jp-seek-bar.jp-seek-bar-display {
	background-color: #353332;
}

  			  
.audio-caption {
  width: 38%;
  max-width: 38%;
  padding: 8px 0;	  
  font-size: 12px;
  font-weight: normal;
  
   	@media(max-width: $medium) { 
	   width: 70%;
	   max-width: 70%;
	}   	
  
	
	@media(max-width: $small) { 
	 width: 94%;
	 max-width: 94%
	}
  
}  




