.hero-large {
	min-height: 380px;


	h3, a, p {
		display: block;
		padding-left: 60px;
		max-width: 480px;
	}

	h3 {
		color: $white;
		font-weight: 200;
		font-size: 28px;
		padding-top: 90px;
		padding-left: 60px !important;
	}

	p {
		color: #eae8e6;
		line-height: 1.3;
		letter-spacing: .01em;

		&.narrow-width {
			max-width: 60%;
		}
	}

	a {
		    padding: 2px 8px;
		    margin: 0;
		    font-size: 18px;
		    max-width: 40%;

		    &.btn-md {
			    max-width: 24%;
		    }

		    &:hover,
			&:focus,
			&.focus {
				color: $off-white;
			}

	}


	@media (max-width:$medium){
     padding: 0 15px;
     background-position: 60% 45% !important;
     min-height: 250px;

        h3, a, p {
	       max-width: 77%;
	       padding-left: 10px !important;
        }

        h3 {
	       font-size: 20px;
	       padding-top: 40px;
        }

        a.btn.btn-primary {
	        max-width: 45%;
        }
	}

}

.full-bleed  {
	position: relative;
	clear:both;
	background-position: center center;
	background-size: cover;
	margin: 30px 0;


	  .text-overlay-wrapper  {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  text-align: center;
		  display: table;
		  z-index: 500;

		    .text-overlay-middle {
			  display: table-cell;
			  vertical-align: middle;
			  z-index: 500;

				  .text-article-display {
				  display: block;
				  max-width: 840px;
				  margin: 0 auto;
				  text-rendering: optimizeLegibility;
				  font-family: $body-font;
				  color: #fff;
				  text-shadow: 0 .04em .04em rgba(0,0,0,.4);
				  text-align: center;
				  padding: 10px;
				  max-width: 64%;
				  background-color: rgba(0, 0, 0, 0.1);
				  border-radius: 7px;
				  z-index:500;


				        .text-overlay {
						  font-weight: 200;
						  line-height: 1.3;
						  margin-bottom: 8px;
						  font-size: 24px;

				          h5 {
				          font-family: $body-font;
				          font-size: 18px;
				          }

				        }

					    &.video {
						    text-align: center !important;
							margin: 0 auto !important;

							.text-overlay {
								font-weight: 100;
								font-size: 24px;
							 }
					    }

				        .bannerTitle {
						  font-size: 28px;
						  font-weight: 200;
						  line-height: 1.3;
						  margin-bottom: 8px;
				        }


						.img-full-feature, {
						  width: 100%;
						  position: absolute;
						  top: 0;
						  left: 0;
						  bottom: 0;
						  right: 0;
						  display: block;
						  text-align: center;
						  z-index: 100;

					    }

				  }


				  .caption {
				    position: absolute;
				    font-weight: 200;
				    text-shadow: 0 .04em .04em rgba(0,0,0,.2);
				    display: block;
					background-color: rgba(0,0,0,.3);
				    border-radius: 5px;
				    padding: 5px 10px;
				    right: 2%;
				    bottom: 2%;
				    font-size: 92%;
				    color: $white;
				    z-index: 1000;
			      }

			      .mute-button-banner {
		           color: white;
		           display: block;
		           background-color: rgba(0,0,0,.3);
		           border-radius: 5px;
		           padding: 5px 10px;
		           cursor: pointer;
		           position: absolute;
		           bottom: 2%;
		           left: 0;
		           z-index: 500;

				     &:before {
					 content: "\f028";
					 padding-right: 5px;
					 font-family: FontAwesome;
					 }

			      }


				  .mute-button.mute {
				        &:before {
						content: "\f026";
						padding-right: 8px;
						font-family: FontAwesome;
						}

					}


			      small {
				      font-size: 16px;
			      }


			}

	   }



	  .article-banner-wrapper {
		  	margin-bottom: 30px;
		  	background-size: cover;
		  	background-repeat: no-repeat;
	  }

	  // Top banner gets slightly different calculation and style
	  &.top-banner {
        margin: 0 0 30px;

		  .text-overlay-wrapper {
			  .text-overlay-middle {
				  .text-article-display {
			  	    text-align: left;
			  	    margin-left: 0;
			  	    margin-top: -12%;
			  	    padding-left: 0;
			  	    background-color: transparent;
			  	    max-width:50%;
			  	  }
		      }

		  }
	  }

	  &.top-banner.youtube-banner {

			.video-banner-wrapper {
			    margin-right: 0;
			    margin-left: 0;
			    background: -webkit-linear-gradient(#000,#101010);
			    background: -o-linear-gradient(#000,#101010);
			    background: -moz-linear-gradient(#000,#101010);
			    background: linear-gradient(#000,#101010);
			    display: block;

					.video-wrapper {
					   margin-bottom: 30px;
					   padding-left: 0;
					   padding-right: 0;

					}


					.video-wrapper.video-container {
					    position: relative;
					    padding-bottom: 56.25%;
					    padding-top: 0;
					    height: 0;
					    overflow: hidden;
					}


			}

            .text-overlay-wrapper .text-overlay-middle .text-article-display {
				    text-align: center;
				    margin: 0 auto;
				    background-color: transparent;
				    max-width: 50%;

					  .play-banner {
						   color: $white;
						   display: block;
						   font-size: 68px;
						   @extend .hvr-fade;
					  }
			}


		 @media(max-width: $small){

			.text-overlay-wrapper .text-overlay-middle .text-article-display {
				text-align: left;
				margin: 0;
				max-width:100%;

	            .banner_video_button {
		            text-align: center;

					  span {
				         font-size: 68px;
				         color: $nav-shade-grey;
					  }
	            }
            }

		 }
	  }

	  &.top-banner.light .text-overlay-wrapper .text-overlay-middle .text-article-display .text-overlay h5, &.top-banner.light .text-overlay-wrapper .text-overlay-middle .bannerScroll {
		  color: $white;
			text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.4);

			       	@media(max-width:$small) {
	            	 color: $dk-grey;
			         text-shadow:  none;
			         font-weight: 200;
			         line-height: 1.3;
			        }
	  }

	  &.top-banner.dark .text-overlay-wrapper .text-overlay-middle .text-article-display, &.top-banner.dark .text-overlay-wrapper .text-overlay-middle .bannerScroll {
			color: $dk-grey;
			text-shadow: 0 .01em .01em rgba(0, 0, 0, 0.23);
	  }

@media (max-width: $medium) {
	.text-overlay-wrapper {
		 .text-overlay-middle {
			  .text-article-display {

				   .text-overlay {
					 	font-size: 15px;
				       h5 {
					   font-size: 14px;
					   }
				   }
			   }
		  }
	}

	&.top-banner {
		.text-overlay-wrapper {
			.text-overlay-middle {
				.text-article-display {
					margin-left: -2px;
					margin-top: -8px;
				    max-width:48%;
				}
			}
		}
	}
}

@media(max-width:$small) {
			  position: static;
			  height: auto !important;
			  margin: 0;
			  padding: 0;
			  margin-bottom: 15px;


			 .text-overlay-wrapper {
				 position:  static;
				 display: block;
				 border-bottom: 1px solid #ccc;
			     padding-bottom: 10px;
			     margin-bottom: 10px;

				 .text-overlay-middle {
				  display: block;
				  position: static;

					  .text-article-display {
					    position: static;
					    display: block;
					    max-width: 100%;
					    color: black;
					    font-size: 14px;
					    font-weight: 500;
					    text-shadow: none;
					    background: none;
					    padding: 0 15px;
					    margin: 0;

					      .text-overlay {
						      font-size: 15px;
						  }
					   }

					   .caption {
					    position: static;
					    display: block;
					    text-shadow: 0 .03em .03em rgba(248,248,248,.1);
					    padding-right: 15px;
					    margin: 5px 0 15px;
					    font-size: 12px;
					    color: $gray;
					    background: none;

					    span {
					    color: $gray !important;
					    font-weight: 400;
					    }
				      }

				      small {
					      font-size: 16px;
				      }

				 }

			 }

			 &.top-banner {
			   .text-overlay-wrapper {
					 .text-overlay-middle {

						.text-article-display {
							margin: 0;
							padding: 0;
							max-width: 100%;

							 .bannerTitle {
								 font-size: 28px;
								 font-weight: 100;
							 }
					    }

			   		   .caption {
							 margin:0 0 8px 0;
							 padding: 0;
							 text-align: right;
					   }
					 }
				   }
			 }


			  .article-banner-wrapper {
				  	margin-bottom: 2px;

				  	@media(max-width: $small){
					  margin-bottom: 20px;
				  	}
			  }

			  //fall back styles
			  .banner-video-full-feature {
				display: none;
			  }

			  .img-full-feature {
			   background-position: center center;
               background-size: cover;
			  }

	  }

}//end full bleed


.home {
	.full-bleed.top-banner {

	    .text-overlay-wrapper {

		    .text-overlay-middle {

		        .caption, .caption a {
			     color: #ffffff;
				 font-size: 11px;
				 font-weight: 200;
				 display: inline;
				 border-radius: 5px;
				 padding: 4px 10px;
				 bottom: 0;
				 right: 20%;
				 text-shadow: none;
				 background-color: transparent;
				 border-radius: 0;
				 text-align: left;

				}
			}
		}

	 	@media(max-width: $medium) {
		 	.text-overlay-wrapper .text-overlay-middle {
			 	.caption, .caption a {
			    bottom: 5%;
			    right: 2%;
			   }
			}
		}

	 	@media(max-width: $small) {

		 	.article-banner-wrapper {
			 	margin-bottom: 0;
		 	}

		 	.text-overlay-wrapper .text-overlay-middle {
			 	.caption, .caption a {
			 		color: black;
			 		top: 0;
			 	}

			 	.text-article-display {
				 	margin-top: 5px;
			 	}
		 	}
		}

	}//end .full-bleed.top-banner

}


.test-banner-video-post {
	.full-bleed.top-banner .text-overlay-wrapper .text-overlay-middle .text-article-display {
		margin: 0 auto;
		text-align: center;

		@media(max-width: $small){
			 margin: 15px 0;
			 text-align: left;

			 .bannerTitle, .bannerDate {
				 padding: 0;
				 margin: 0;
				 padding-bottom: 10px;
			 }
		 }
	}
}

//Adding the down caret style for full-bleed banners
.bannerScroll {
       color: white;
       display: block;
       cursor: pointer;
       margin-top:60px;
       position: relative;
       top:0;
       left:0;
       font-size: 40px;

       /* Chrome, Safari, Opera */
	    -webkit-animation-name: readmore-bounce;
	    -webkit-animation-duration: 6s;
	    -webkit-animation-timing-function: ease;
	    //-webkit-animation-delay: 0s;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-fill-mode: forwards;
	    /* Standard syntax */
	    animation-name: readmore-bounce;
	    animation-duration: 6s;
	    animation-timing-function: ease;
	    //animation-delay: 0s;
	    animation-iteration-count: infinite;
	    animation-fill-mode: forwards;

	    @media(max-width:$small) {
		    display:none;
	    }
}
