.bottom-widgets {
    margin: 0 auto;
	margin-top: 1.5em;
		
	.menu-sitemap-menu-items-container {
		@include outer-container();
		border-top: 1px solid $light-background-grey;
		text-align: center;


		ul#menu-sitemap-menu-items	{
			@include span-columns(12);

			list-style: none;
			margin: 0 auto;
			padding: 0;
			
			> li {
			@include span-columns(2);
			@include pad();
			
			   @media screen and (max-width: $small-desktop) {
                @include span-columns(4);
                margin: 0;
                padding: 0 15px;
                margin: 20px 0;

	                &:nth-child(4){
		                clear: left;	                
	                }
                } 
                
			   @media screen and (max-width: $extra-small) {
                @include span-columns(6);
                margin: 0;
                padding: 0 15px;
                margin: 20px 0;

	                &:nth-child(odd){
		                clear: left;	                
	                }
	                
	                
	                &:nth-child(4){
		                clear:none;	                
	                }
	                
	                &:nth-child(even){
		                margin-right: 0;	
		                padding-right: 0;                
	                }
                }
			   
			
			  > a {
				color: $dark-grey;
				font-family: $body-font;
				font-size: 13px;
				font-weight: 500;
				text-decoration: none;
				padding-bottom: 4px;
			  }

				
			  &:last-child {
				padding-right: 0;
			  }
             
			}
			
			ul.sub-menu {
			margin: 0;
			padding: 0;
			
				li {
					list-style: none;
					line-height: 1.2;
					margin: 10px 0;
					
					a {
						 font-size: 12px;
						 font-weight: 400;
						 color: #555;
						 
						 &:hover {
							 color: $dark-grey;
							 text-decoration: underline;
						 }
					}
				}
			}
		}
		

	}
	


}