/* carousel-------------------------- */


//home page carousel
.carousel.home {
	position: relative;
	 
	 .carousel-indicators {	
		bottom: 188px;
		    	 
	 }
		 
	 .carousel-inner {
		 position: relative;
		 
		  	  

		  
		    .item  {


			  
			  img {
			      background-size:cover;
	
			   }
			  	      
			  > img, > a > img {
		      width: 100%;
		      margin: auto;
		      }

		      
		      
		      .carousel-caption, .carousel-caption a { 
			            color: $caption-grey;
			            font-size: 11px;
					    font-weight: 200;
					    display: inline;
					    border-radius: 5px;
					    padding: 4px 10px;
					    right: 4%;
					    bottom: 4%;	
					    left: initial;	      

		      }
		      
			    
			  .carousel-text, .text-overlay {  
				position: absolute;
			    top: 17%;
			    left: 22%;
			    bottom: 0;
			    right: 0;
			    padding: 0;
			    max-width: 400px;
			    text-align: left;
			    
			    h1,p {
				  text-shadow: 2px 3px 3px rgba(0,0,0,0.2);
			    }
			    
			    h1 {
			        font-weight: 100;
				    font-family: $highlight-font;
				    letter-spacing: -0.047em;
				    margin-bottom: 8px;
				    color: $white;
			    }
			    
			    p {
			        font-weight: 300;
			        text-rendering: optimizeLegibility;
				    font-size: 20px;
				    color: $white;
				    letter-spacing: .02em;
				    line-height: 1.4;
			    }
			    
			    small {
				    position: absolute;
				    bottom: 2%;
				    left: 0;
				    text-shadow: none;
				    font-weight: 200;
				    color: $light-grey;
				    background-color: rgba(0,0,0,.2);
				    padding: 4px 8px;
				    border-radius: 4px;
			    }
		   
			    
			    .btn {
				    margin-top: 8px;
			    }
			    
			    
				      	@media screen and (min-width: 768px){		
					    top: 12%;

					    }    	
			    }  
		    
		    }
	
	  }
	  
	 a.carousel-control.left, a.carousel-control.right {  
		 width: 20%;
		 	 
	 } 
	 
	 				 
	 
	@media(max-width: $medium-large) {
		
		  a.carousel-control.left, a.carousel-control.right {  
			  width: 12%;
		  }
		
		 .carousel-indicators {	
		   bottom: 120px !important;
	     }
	      
		 .carousel-inner {
			 
		   .item { 
			   
			 .carousel-text {
		      max-width: 300px;	
		      top: 12%;
		      left: 11%;	
		       
				 
		       h1 {
			   font-size: 26px;
			   margin-top: 0;
			   margin-bottom: 5px;
		       }
		       
		       p {
			       font-size: 16px;
			       font-weight: 300;
			       line-height: 1.4;
		       }
		       
		       .btn.btn-lg.btn-primary {
			       font-size: 14px;
			       padding: 6px 12px;
			       margin-top: 0;
		       }
		      } 
		    }   	   
			 
		 }
	}
	
	@media(max-width: $medium) {
		
		.carousel-indicators {	
		   bottom: 0 !important;
	    }
		
	}
	 
    @media(max-width: $small) {

							
				a.carousel-control {
				    position: absolute;
			        color: $bp-primary;
			        text-shadow: none;  
			        width:15%;
				
					&.left, &.right {
						background: none;
						background-image: none;
						z-index: 500;
				    } 
				    
				    &.left {
					   left: 15px;
				    }
				    
				    &.right {
					   right: 15px;
				    }
			        
			        span.glyphicon-chevron-left, span.glyphicon-chevron-right {
			            color: $bp-primary;
			        }
			        					    
				    .glyphicon-chevron-right, .glyphicon-chevron-left {
				        bottom:40px;
				        top:auto;
				    }
				        
			        .glyphicon-chevron-left {
			            left:15px;
			        }
			        
			        .glyphicon-chevron-right {
			            right:15px;
			        }
			        
			    }

				
			    .carousel-indicators {	    
				    margin-left:-50%!important;
				    height:0;
				    max-width: 100%;
				    width:100%;
				    bottom: 0!important;
				    overflow:visible;
				    
				    li {
					border: 1px solid $bp-primary;
					background-color: $bp-lt-primary;
					margin-right: 2px;
					margin-bottom:none;
					line-height:10px;
					height:10px;
					font-weight:normal;
					
					 &:last-child {
						 margin-right: 0;
					 }
					
					 &.active {
						 background-color: $bp-primary;
						 width: 14px;
						 height: 14px;
					 }
			
				    }
			    }				    

				
				.carousel-inner {
					padding-bottom: 10px;
					
						@media(max-width: $small) {
							margin-bottom: 30px;
						}	
					
				 .item {
			     background: none;
			    
			       img {
			    
			    	object-fit: contain;
				   }

			    

			    	
			    	.carousel-caption {
						display: none;
			    	}
					
				    .carousel-text {
					    position: static;
					    margin: 10px auto 0;
					    padding: 0 20px;
					    max-width: 96%;
					    
						
						h1, p {
							margin:0;
							padding: 0;
							text-shadow: none;
						}
				
					    
					    h1 {
							 font-size: 18px;
							 text-align: center;
							 line-height: 1.4;
							 font-weight: normal;
							 font-family: $body-font;
							 color: black;
							 max-width: none;
							 text-transform: none;
					    }
					    
					    p {
						    max-width: 100%;
						    text-align: center;
						    font-size: 14px;
						    margin-bottom: 6px;
							padding: 0 15px;
							color: $dk-grey;
					    }
					    
					    .btn.btn-lg.btn-primary {
						   font-size: 11px;
						   padding: 4px 10px;
						   margin: 10px auto;
						   display: block;
						   width: 38%;
		                }

					    small {
						    display: none;
					    }
					    
				    }
				    
				    
			    	
			    }

				}
			    
    }//end small media query
	 
	 
	 
}
	
.carousel.large, .carousel.medium, .carousel.small {
	@extend .border-btm;
    margin: 0 auto 30px;
    width: 100%;
    border-bottom: 3px solid #eee;
   	background-color: transparent;
	position: relative;
	
	img {
		padding-bottom: 15px;
	}

		    
	.item, .item.action {
    background: none;
    }
    
    
    .right, .left {
    background: none;
    }
      
	
    .carousel-indicators {	    
	    margin-left:-50%!important;
	    margin-bottom: 5px !important;
	    height:20px;
	    max-width: 100% !important;
	    width:100%;
	    bottom: 0 !important;
	    overflow:hidden;
	    position:absolute;
	    
	    li {
		border: 1px solid $bp-primary;
		background-color: $bp-lt-primary;
		margin-right: 2px;
		line-height:10px;
		height:10px;
		font-weight:normal;
		
		 &:last-child {
			 margin-right: 0;
		 }
		
		 &.active {
			 background-color: $bp-primary;
			 width: 14px;
			 height: 14px;
		 }

	    }
	    
    }

    .carousel-control {
	    position: absolute;
        color: $bp-primary;
        text-shadow: none;  
        width:10%;
        
            
	    .glyphicon-chevron-right, .glyphicon-chevron-left {
	        bottom: 20px;
	        top:auto;
	        color: $bp-primary;
	    }

        
        .glyphicon-chevron-left {
            left:15px;
        }
        
        .glyphicon-chevron-right {
            right:15px;
        }
    }
    
    .carousel-caption {
	    position: static;
		margin: 0 auto;
		padding: 0;
		padding: 0 45px 70px 45px;
		text-shadow: none;
		display: block;


	    
	    small {
		font-size: 14px;    
		margin:0;
		padding: 0;
		font-weight: 400;
		line-height: 1.4;
		font-family: $body-font;
		color: black;
		text-shadow: none;
		
		   em {
			 color: #222;
             font-size: 12px;
             font-style: italic;
		   }
	    }
    }
			    
    
    
}	

.carousel.medium, .carousel.small {
    margin-left: 30px;
    border-bottom: 3px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 30px;
    float: right !important;
    clear: right;
}
	
.carousel.medium {
		width: 540px;

	    
		a.carousel-control.left, a.carousel-control.right {
		  width: 8%;
	    }
	    
	@media(max-width: $medium) {
		float: none !important;
		margin-left: 0;
	}
	
}

.carousel.small {
	width: 360px;
}


.carousel.large, .carousel.medium, .carousel.small {
	
	@media(max-width: $medium) {
			width: 100%;
	}		
	
	@media(max-width: $small){
		width: 100%;
	}	
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
  .carousel-inner > .item { transition:none;}
}

@-moz-document url-prefix() { 
	  .carousel-inner > .item { transition:none;}
}	


