
img {
	max-width: 100%;
}

.photo, .offset-sidebar {
	height: auto;
    border-bottom: 3px solid #eee;
	margin-bottom: 30px;
    float: right;
	clear: right;

	 img {
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    height: 100%;
	    padding-bottom: 15px;
	  }

	  small {
		  padding: 0;
		  margin: 0;
		  padding-bottom:15px;
	  }
}


.photo.small {
	max-width: 37%;
}

.photo.medium, .offset-sidebar {
	max-width: 55.65%;
 }

.photo.small, .photo.medium, .offset-sidebar {
     margin-left: 30px;
     height: auto;
 }

.photo.large {
	max-width: 100%;
 }

.photo.two-up {
	    float: none!important;
	    @include clearfix();
	    width: 100%;

	      .left {
		    float: left!important;
		    max-width: 48%;
		    margin-right: 2%;
		  }

		  .right {
			float: right !important;
			max-width: 48%;
		  }

 }


.photo.alignleft, photo.align-left.small, photo.align-left.medium {
  float: left;
  clear: left;
  margin:15px 30px 15px 0;
  padding-right: 15px;
}

//offset-sidebar and no-offset-sidebar
.offset-sidebar, .no-offset-sidebar {
	@include linearGradient(#f8f8f8, #f5f5f5);
	padding: 15px;
	border-bottom: none;

	h4 {
		@extend .color-header;
	}

	ul {
		padding-left: 10px;
		margin-left: 10px;

		li {
			line-height: 1.6;
		}
	}

	.photo.small.alignright {
		 margin-right: 5px;
	}

	.photo.small.aligncenter {
		margin-left: 0;
		height: inherit;
		max-width: 100%;
		padding: 0;
	}

	.photo.small.alignleft {
		 padding: 0;
		 margin: 0;
		 margin-right:30px;
		 max-width: 40%;
	}

	img {
		width: 100%;
		height: 100%;
	}

	img.aligncenter, img.alignleft, img.alignright {
		padding: 0;
		margin: 0;
	}

	img.alignleft, img.alignright {
        width: 40%;
	}

	img.alignleft {
		margin-right:30px;
		margin-top: 10px;
	}

    .article-item h4 {
	   text-transform: none;
	   border-bottom: none;
    }

}

//offset-sidebar
.offset-sidebar {
 margin-top: 15px;
 min-width: 37%;
 max-width: 37%;
 clear: right;

  &.wide {
	max-width: 50%;
	min-width: 50%;
  }

  &.wider {
	  max-width: 54%;
	  min-width: 54%;
  }

	&.narrower {
    min-width: 26%;
		max-width: 26%;
		width: 26%;

		@media(max-width: $small) {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
		}
	}

  .jp-flat-audio, .audio-caption {
	  width: 100%;
	  max-width: 100%;
  }

  @media (max-width: 481px) {
	  .jp-flat-audio, .audio-caption {
	   width: 90%;
	   margin: 10px auto;
	  }
   }

}

//no-offset-sidebar
.no-offset-sidebar {
	max-width: 542px;
	margin-bottom: 30px;
	clear: left;

	&.narrow-the-width {
		max-width: 420px !important;
	}
}

.offset-sidebar, .no-offset-sidebar {
    .photo.small.alignleft, .photo.medium.alignleft, .photo.large.alignleft {
	   	clear: left;
	}

   	.photo.small.aligncenter, .photo.medium.aligncenter, .photo.large.aligncenter {
	   	clear: both;
	}

	.photo.small.alignright, .photo.medium.alignright, .photo.large.alignright {
	   	clear: right;
	}
}

// caption style
small {
font-size: 87%;
float: left;
font-size: 12px;
padding: 0;
margin: 0;
color: #555;
display: inline-block;
}

// In column images without caption style

img.alignleft {
float: left;
margin:15px 15px 15px 0;

}

img.alignright {
float: right;
clear: right;
margin:15px 0 15px 15px;
padding-right: 15px;
}

// blockquote style
blockquote, #main-story blockquote {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 26%;
    border-left: none;
    margin-bottom: 15px;
    line-height: 1.2;
    float: left;
    margin-left: -60px;
    margin-right: 30px;

    &.right {
    float: right;
    margin-left: 30px;
    margin-right: 300px;
    }

    p {
	 margin: 0;
     padding: 0;
	 font-family: $heading-font;
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: 1.5;
     color: #000;
    }

    @media(max-width: $medium) {
		margin-left: 0;
	    margin-right: 25px;
	    max-width: 60%;
	}
}

// textwidget
.textwidget {
	img.home, p.home {
		padding: 0 15px;
	}

	p.home {
		max-width: 100%;
		line-height: 1.4;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	a.btn-visual {
	@include linearGradient(#f8f8f8, #f5f5f5);
	@extend .clearfix;
    display: block;
    border: 1px solid $med-grey;
    border-radius: 7px;
    padding: 15px;
    opacity: 0.8;

         &.center {
		    text-align: center;
         }


         h4 {
	         color: $err-message;
	         font-family: $body-font;
	         text-transform: uppercase;
	         font-size: 20px;
         }

         span {
	         float: left;
	         width: 70%;
	         color: $err-message;
	         font-size: 16px;
	         margin-top: 4px;
         }

         img {
	         width: 28%;
	         height:  auto;
	         float: right;
         }

         &.enews {
	         padding: 5px 15px;
	         border: 1px solid  $btn-grey;

	         span {
		         color: $orange;
	         }
         }

		  &:hover,
		  &:focus {
			  opacity: 1.0;
			  border: 1px solid $bp-primary-btn-border;
		  }

		  &.news {
            @extend .clearfix;

			  i {
				  float: left;
				  font-size: 30px;
				  color: $bp-primary-btn;

				  &.fa-newspaper-o {
					  ::before {
						color: $bp-primary-btn;

					  }
				  }

			  }

			  span {
				float: right;
				width: 76%;

				  h4 {
					  color: $bp-primary-btn;
					  text-transform: none;
				  }

			 }
		  }

	}
}

// soundcloud
.soundcloud-wrapper {
	margin: 30px 0;
}

.textwidget .soundcloud-wrapper {
	padding: 0 15px;
}


// col-2 styles
.col-2 {
	blockquote {
      margin-left: 0;
	}

	h1 {
      margin-top: 20px;
      margin-bottom: 10px;
	}

	@media(max-width: $small) {

		h1 {
			margin-top: 0;
		}

		img.size-full {
			float: none;
			display: block;
		}
	}
}

 @media(max-width: $medium) {

	 .photo.medium {
		  max-width: 100%;
		  margin-left: 0;
	 }

	 .textwidget  {
		 a.btn-visual {
			 margin-top: 20px;
		 }
	 }
 }

 @media(max-width: $small) {

	.photo.small, .photo.medium, .photo.large, .offset-sidebar, .offset-sidebar.wide {
         max-width: 100%;
	     width: 100%;
	     padding: 0;
	     height: auto;
    }

    .photo.two-up .left, .photo.two-up .right {
		    float: none !important;
		    max-width: 100%;
		    width: 100%;
    }

    .offset-sidebar {
	    margin-right: 0;
	    padding: 15px;

		  p {
			padding:0 15px;
		  }

		  h4 {
			margin: 10px 15px 5px;
		  }
    }

    .offset-sidebar.wide {
	   padding:0 15px;
    }

    .no-offset-sidebar {
	    margin-bottom: 15px;
    }

}
