.footer-wrap	{
    background: $nav-grey;
    padding:0 30px 20px 30px;

    .foot {
	color: $med-grey;
	margin-top: 20px;


		p {
			font-size: 80%;
			text-align: left;
		}

		.cu-logo {
      margin-right: 0 !important;
			 img, object {
        max-width: 220px;
		    height: auto;
		     }
	    }

      .orn-logo{
        padding: 7px 0;
        a.svg {
          position: relative;
        }
        a.svg:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .orn-logo a{
        position: absolute;
        display: block;
        z-index: 1;
        cursor: pointer;
        width: 230px;
        height: 47px;

        @include media($mobile) {
          width: 100%;
          position: static;
          height: auto;
        }

      }

      .custom-footer-area > div{
        max-width: 250px !important;
        margin: 0 auto;
         @media(max-width: $medium) {
            margin-top: 1em;
        }
      }

	    .contact-info {
		  text-align: right;
		  float: right;
      padding: 10px;
      max-width: 20%;

		   @media(max-width: $medium) {
			 text-align: center;
       max-width: 100%;

			 small {
				 float: none !important;
				 padding: 0;
				 margin: 0;
				 margin: 5px 0;
			 }
	       }

		   ul {
		    list-style-type: none;

		    	li {
			    	display: inline;
		    	}

          @include media($mobile) {
            padding: 0;
          }
		   }

		   a {
		    color: $grey;

		        &:hover {
			       color: $med-grey;	        }

			   .social-fix {
	   	        font-size: 24px;
			   }
			}

		   .contact-list {
			   padding: 0;

			  li {
				margin:0 10px;

				   a {
					   font-size: 11px;
				   }

				   &:last-child {
					  margin-right: 0;
				   }
			   }



		   }


		   small {
			   color: $grey;
			   font-size: 10px;
			   float: right;
			   display:block;
		   }

	    }//end contact info
	}
}
