 //contact page form
 #cntctfrm_contact_form {
    float: left;
    margin-top: 10px;

    .cntctfrmpr_field_wrap {
	    margin-bottom: 15px;
    }

    .cntctfrm_input input {
	    padding-top: 4px;
	    padding-bottom: 4px;

	    &.cntctfrm_contact_submit {
		    padding-bottom: 8px;
		    padding-top: 8px;
	    }
    }

    .required, .cntctfrm_error_text {
	    color: $bp-primary-required;
    }

    .cntctfrm_error_text {
	    margin-bottom: 4px;
	    font-size: 12px;
    }

	.cntctfrm_contact_submit {
		background: darken($bp-primary, 1%);
		border: none;
		color: white;
		width: 40%;
		float: left;
		font-size: 16px;
		border-radius: 4px;
	}

	@media(max-width: $small){
      margin-bottom: 15px;
	}
}


//new contact form
div.wpcf7 {
  float: left;

  .wpcf7-submit {
    padding-bottom: 8px;
    padding-top: 8px;
    background: $bp-primary;
    border: none;
    color: #fff;
    width: 40%;
    float: left;
    font-size: 16px;
    border-radius: 4px;
    float: none;
  }

  label {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2.25rem;

      span {
       margin-top:  0.75rem;
       display: block;

         &.wpcf7-not-valid-tip {
           margin-top: 0;
           color: $brand-warning;
           display: block;
           font-size: 1.125rem;
         }
       }
  }

  input {
    margin-bottom: 0.75rem;
  }

  form input[type=email] {
    float: none;
  }

  .wpcf7-validation-errors {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    color: $brand-warning;
    font-size: 1.125rem;
  }

  p {
    margin: 0;
  }

}

 .contact-img {
    float: left;
    margin-top: 20px;
    margin-left: 90px;
    max-width: 40%;

    .photo.small, .photo.medium, .photo.large {
	    max-width: 100%;
    }

    @media(max-width: $medium){
	    margin-left: 20px;
	}

    @media(max-width: $small){
     float: none;
     max-width: 100%;
     margin: 0;
     padding: 0;
	}
 }


//enews signup form
form {
  width: 100%;
  @include clearfix;

    p {
	    line-height: 1.1;
    }

	input {
		padding: .5em .75em;
		margin-bottom: 1em;
		border-radius: 4px;
		border: none;
		border: 2px solid $nav-border-grey;

		&[type="email"] {
		width: 60%;
		float:left;
		font-size: 13px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-top: 3px;
		margin-bottom: 2px;
	    }

	    &.incsub-mailchimp-submit {
			background: darken($bp-primary, 1%);
			border: none;
			padding: .5em 1em;
			color: white;
			width: 40%;
			float: left;
			font-size: 14px;
			border-radius: 4px;
			border-top-left-radius: 0;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 0;
			background: darken($bp-primary, 1%);
			border: none;
			margin-left:-2px;
			margin-top: -5px;
		}
	}

	textarea {
			border: 2px solid $nav-border-grey;
	}

	ul.incsub-mailchimp-error, ul.incsub-mailchimp-error li {
		color: $err-message;
        border-color: $err-message;
	}

	p.incsub-mailchimp-updated {
		color: $dark-grey;
		border-color: $border-grey;
	}


	.incsub-mailchimp-label-firstname, .incsub-mailchimp-label-lastname, [data-label="firstname"], [data-label="lastname"] {
		display: none;
		margin: 0;
		padding: 0;
		line-height: 0;
	}

}
