.background-brand-bar {
	background-color: #f3f7fb;
	border-bottom: 1px solid $light-background-grey;
	margin: 0;
	padding: 0;
	margin-bottom: 2.5rem;
	@include clearfix;


	.logos {
		float:left;
		font-size: 0;
		margin-top: 3px;

		.logo-bg {
			margin-right: 10px;
			margin-bottom: 0;
			float: left;

					 a {
						 display: block;
						 width: 140px;
						 height:40px;
						 z-index: 1;
						 position: absolute;
						 text-align: center;
					 }

					 .svg-logo {
						 height: 40px;
						 width: 140px;
				}

		}

		.logo-second {
			width: 160px;
			float: left;

					@media(max-width: $small) {
						height: auto;
					}
		}

	}

	.top-one {
		float: right;

					@media only screen and (min-width: 768px) {

						.top-one {
						 float: right;
						 padding: 0;
						 margin: 15px 0;

							 li.nav-enews {

								 a {
										color: $enews-icon;
										padding: 0;
										margin: 0;


										&:before {
									 content: "\f0e0";
										}
									}

							 }

							 li.nav-lang {

									button {
									 margin: 0;
									 padding: 0;
									 color: $bp-primary-btn;
															 background-color: transparent;
															 border-color: transparent;
															 /*font-family: $body-font;
															 font-size: 14px;
															 margin-top: -5px;	*/

									 &:hover {
										 color: $med-grey;
									 }
									}

									ul.dropdown-menu {
								min-width: 130px;

										 li {
										margin-right: 0;
											 a {
										 display: block;
										 padding: 7px 12px;
										 clear: both;
										 font-weight: normal;
										 line-height: 1.42857;
										 color: #333;
										 white-space: nowrap;
										 }
										 }
									}

							 }

							 li.nav-contact {

								 a {
								color: $search-icon;
								padding: 0;
								margin: 0;


										&:before {
									content: "\f095";
										}
												 }

							 }


							 li.nav-search {

								 a {
								color: $contact-icon;
								padding: 0;
								margin: 0;

										&:before {
									content: "\f002";
										}
												 }

							 }

							 li.nav-donate {

								a {

								color: #fff;
								background-color: #c87d39;
								border-color: #944702;
								padding: 0;
								margin: 0;
								border-radius: 4px;
								padding: 5px 10px;
								margin-top: -4px;

								 &:hover {
									 background-color: #b75c0b;
									 color: $light-grey;
								 }

							 }

							}



							 li {
							 margin-right: 20px;

							 a {
							 /*padding: 2px 7px;*/
							 display: block;
							 vertical-align: middle;
							 line-height: 1.0;

							 &:before {
												font-family: FontAwesome;
									padding-right: 4px;
									display: inline-block;
									font-size: 14px;
									vertical-align: top;
									line-height: 1.0;
							 }


								 &:hover {
									 color: $med-grey;
									 text-decoration: none;
									 background-color: transparent;
								 }
							 }

							 &:last-child {
								margin-right: 0;
							 }


							}

							}

					}//
	}

}

.site-name-row {
	@include clearfix;

		#website-name {
			display: inline;

			a {
			display: inline;
			padding: 0;
			margin: 0;
			color: #000;
			letter-spacing: -0.018em;
			font-family: $highlight-font;
			letter-spacing: -.038em;
			font-weight: 400;
			font-size: 32px;
			text-decoration: none;
			line-height: 1.2;


		    &:hover {
			  opacity: .3;
		     }
			}

		}

		@media only screen and (min-width: 1080px) {

				nav {
					float: right;
				}
		}

		@media only screen and (max-width: 1080px) {
			nav {
			margin-top: 50px;
		  }
		}

		@media screen and (max-width: 768px) {
				margin-bottom: .75rem;

				nav {
				 margin-top: 0;
			  }
		}
}

.head {
	margin: 0;
	@include clearfix;

    .btns-wrapper {
	    float: right;
	    width: 30%;

					button {
						background-color: $nav-grey;
						border-radius: 4px;
						padding: 8px;
						border: 1px solid $nav-border-grey;

						.icon-bar {
							background-color: $dark-grey;
						}

						&.navbar-toggle {
							margin: 0;
							margin-right: 6px;
						}

						&.btn-search-mobile {
							padding: 5px 10px;
						}

						&:hover {
							background-color: darken($shaded-grey, .5);
						}
					}
	}

	nav {
		padding: 0;
		margin: 0;
		z-index: 800;


		&.navbar-default.revised-navbar {
			background-color: #fff;
			border: none;
      min-height: auto;
		}

		#navbar {

			&.right-side-nav {
			float: right;
	        text-align: right;




	        }//right-side nav


		}

		.navbar-nav {
			float: right;
		}

		.navbar-default {

	      background-color: #fff;
	      border: none;


			@media screen and (min-width: 768px) {
				background-color: #f8f8f8;
				border: 1px solid  #e8e8e8;
				border-radius: 4px;


					.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
					    margin-top: 0;
					}

					.navbar .sub-menu:before {
					    border-bottom: 7px solid transparent;
					    border-left: none;
					    border-right: 7px solid rgba(0, 0, 0, 0.2);
					    border-top: 7px solid transparent;
					    left: -7px;
					    top: 10px;
					}

					.navbar .sub-menu:after {
					    border-top: 6px solid transparent;
					    border-left: none;
					    border-right: 6px solid #fff;
					    border-bottom: 6px solid transparent;
					    left: 10px;
					    top: 11px;
					    left: -6px;
					}

					a {

					  &:hover, &:focus, &:active {
					   background-color: $bp-lt-primary;
					   color: $white;


					  }
					}

					&.top-two {


						li {

                            border-right: 1px solid $nav-border-grey;


							    a.dropdown-toggle {
								     display: block;
								    float: right;
								    vertical-align: middle;
								    padding: 7px 10px;
								    font-size: 11px;
								    line-height: 20px;
								    position: relative;

									span.caret {
								    text-align: center;
								    vertical-align: middle;
								    cursor: pointer;
						            border: none !important;

						                 &:before {
							              display: block;
										  content: "\f078";
							              font-family: 'FontAwesome';
								          font-style: normal;
						                  font-weight: normal;
										  position: absolute;
										  top:7px;
										  left:5px;
						                 }
									}

									/* Dropdown hover & focus */
									&:hover, &:focus {
									   background-color: $bp-lt-primary;
									   color: $white;

									}

								}

								a.menu-top-level {
									float: left;
									padding: 7px 8px;
						        }

						        ul.dropdown-menu li {
							        border: none;
						        }


							&:last-child {
								border: none;
							}
						}

					}


				a {
					padding: 7px 12px;

					&.active>a, &.active>a:hover, &.active>a:focus {
						background-color: aqua;
					}
				}
			}

		}

        .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	        border-color: $nav-border-grey;
        }


    }//end nav

	@media(max-width: $medium-large) {

	  .navbar-header {

		    .navbar-toggle {
			    margin-right: 0;
		    }

		    .btn-search-mobile {
	        padding: 6px 12px;
            margin-top: 8px;
            margin-left: 6px;
            }

	   }


	  nav {

		  #navbar.right-side-nav {
		  float:none;
		  clear: none;
			margin-top: 15px;

		    .top-one {
			    float: right;
			    clear: right;

			     @media(max-width: $small) {
				     float: none;
				     clear: none;
				 }
		    }

		    .top-two {
			    float: left;
			    clear: left;

			     @media(max-width: $small) {
				     float: none;
				     clear: none;
				 }
		    }


		 }
	  }

    }

    @media(max-width: 767px) {
	    margin: 5px 0;

	      nav #navbar.right-side-nav .navbar-nav.top-two, nav #navbar.right-side-nav .navbar-nav.top-one {
		    float: none !important;
		    clear: none !important;
		    text-align: left;

			      li.active a:hover, li>a.dropdown-toggle:hover {
				      color: #333;
	                  background-color: transparent;
			      }

			      li>.dropdown {

			         button {
				     font-size: 18px;
				     color: $bp-primary;
				     background-color: transparent;
				     padding-top: 15px;
				     padding-bottom: 15px;
				     border: none;

		                  a:hover, a:active {
					       color: #333;
		                   background-color: transparent;
		                  }
	                 }

			      }


	      }

	      .navbar-header {
		   max-width: 100%;

		      .logo-bg {

			      a, .svg-logo {
				      width: 170px;
			      }
		      }

		      #website-name {
			      margin-bottom: 15px;
			      a {
				      font-size: 26px;
			      }
		      }

		      .navbar-toggle {
			      margin-right: 0;
		      }


		  }

		  .navbar-collapse {
			  border: none;
		  }

		  .navbar-default .navbar-nav  {
			  margin: 0;
		  }

          .navbar-default .navbar-nav .open .dropdown-menu {
			    position: static;
			    float: none;
			    width: auto;
			    margin-top: 0;
			    background-color: transparent;
			    border: 0;
			    -webkit-box-shadow: none;
			    box-shadow: none;
		 }


		 .nav>li {
			border-bottom: 1px solid $border-grey;

			a {
				font-size: 18px;
				color: $bp-primary;
				padding-top: 15px;
				padding-bottom: 15px;
			}

		    &.dropdown {
			@include clearfix;

				 a.menu-top-level {
					float: left;

				 }
		    }

		    &.nav-search {
			    border-bottom: none;
		    }


		  }

		 .navbar-default .navbar-nav {

			   	float: none;

			    >li>a {
				    word-wrap: break-word;
			    }

		        >li>a.dropdown-toggle {
				float: right;
				padding: 15px 20px 15px 25px;

					span.caret {
						border: none !important;

		                 &:before {
			              display: block;
						  content: "\f078";
			              font-family: 'FontAwesome';
				          font-style: normal;
		                  font-weight: normal;
						  position: absolute;
						  top:14px;
						  left:9px;
		                 }
					}

					&[aria-expanded="false"] {
		                 span.caret {

			                 &:before {
				                 content: "\f078";
			                 }
 					     }
 					}

					&[aria-expanded="true"] {
		                 span.caret {

			                 &:before {
				                 content: "\f077";
			                 }
 					     }
 					}

					&:hover, &:focus {
					 color: $bp-lt-primary;
					 text-decoration: $link-hover-decoration;
					 background-color: $white;
					}

				}

               >.open>a, >.open>a.dropdown-toggle, >.open>a:hover, >.open>a.dropdown-toggle:hover, >.open>a:focus,
               >.open>a.dropdown-toggle:focus, >.active>a, >.active>a:hover, >.active>a:focus, >.open>a.dropdown-toggle.open.active, >.open>a.dropdown-toggle.open.active:hover, >.open>a.dropdown-toggle.open.active:focus, .open .dropdown-menu>li>a {
					  background-color: $white;
					  color: $bp-primary;
               }

               .open .dropdown-menu>li>a {
			   		  width: 300px;
			   		  white-space: nowrap;
			   		  overflow: hidden;
			   		  text-overflow: ellipsis;
			   		  padding-left: 30px;
               }
	   }


	}

}//end header

.head.partner-logo {

	.logos {
		@include clearfix;

        .logo-bg {
           width: 140px;
           float: left;

           a, .svg-logo {
            width: 140px;

           }
        }
	}


    @media(max-width: $small) {
		.brand-wrapper {
	          .logos {


					.logo-second {
					    margin-top: 12px;
					    width: 90px;
					    height: auto;
					}

	               .logo-bg {
		               width: 100px;
		               margin-top: 15px;


	                   a, .svg-logo {
	                    width: 100px;
	                    height: 26px;
	                   }
		           }
		      }

		      #website-name {

			      a {
				      font-size: 26px;
			      }
		      }

		}
    }

    @media screen and (max-width: 322px) {
	  .navbar-header .brand-wrapper .logos {

		    .logo-second {
			    width: 80px;
			    margin-top: 15px;
           }

           .logo-bg {
		      margin-left: 0;
		      margin-right: 4px;
           }
      }
    }
}//end .head.partner

.head.alt {
	margin: 0 auto;

	 .site-name-row nav {
		 float: none;
	 }


	@media only screen and (min-width: 768px) {

		.top-two {
			margin-bottom: 15px;
		}

		&.clean {

			.top-two li {
		        margin-right: 20px;

		        &:last-child {
			        margin-right: 0;
		        }
			}
		}
	}

	nav {

		#navbar {
			margin-top: 15px;

			&.right-side-nav {
				float: none;

				.navbar-nav.top-two {
				float: left;
				clear:left;
				}

	        }//right-side nav



		}

		.navbar-header {
			margin-bottom: 15px;
		}


    }//end nav


    @media(max-width: $medium) {

		    .navbar-header {

			    .brand-wrapper {
				 width: 100%;

				    .logos {

				        .logo-bg {
					        width: 150px;
						       a, .svg-logo {
							       width: 150px;
						       }
						 }

						.logo-second {
							width: 140px;
							margin-top: 6px;
						 }
				    }

		            #website-name {
			            margin-bottom: 0;
		            }

			    }
		    }
   }//medium media query



    @media(max-width: $small) {

		    .navbar-header {

			    .brand-wrapper {
				 width: 70%;

				    .logos {

				        .logo-bg {
					        width: 100px;
						       a, .svg-logo {
							       width: 100px;
						       }
						 }

						.logo-second {
							width: 80px;
							margin-top: 13px;
						 }
				    }
			    }
		    }
   }//medium media query

}//end head.alt

//styles for menu look and feel

.clean {

	    @media only screen and (min-width: 768px) {

		    &.head.alt {
			    .top-two {
				    margin-bottom: 0;
			    }
		    }
		}

	    nav {

		    #navbar {

			    li {

				    a:active, a:hover {
					    border-radius: 0px;
					}
			    }

			    .top-two a {
				    font-size: 16px;
				    padding-bottom: 10px;

				    &.dropdown-toggle {
					    padding: 7px 13px 10px;
				    }
				}

				.top-one a {
				   font-size: 14px;
				}

			    &.right-side-nav {

					@media only screen and (min-width: 768px) {

						.navbar  {
							border-radius: 0;
						}

						.top-two li {
					         border-right: none;
					         margin-right: 10px;

					            a.menu-top-level {
						            border-bottom: 4px solid transparent;
					            }

					            ul.dropdown-menu li {
						            margin-right: 0;
					            }


	                            &:last-child {
							        margin-right: 0;
						        }
		                }

			            .navbar-default {
					      background-color: #fff;
					      border: none;
					      margin-top: 3px;

							&.navbar-nav {

							    > .active > a {
							      &,
							      &:hover,
							      &:focus {
							        color: $navbar-default-link-active-color;
							        background-color: $white;
							        border-bottom: 4px $bp-primary solid;
							      }

							      .glyphicon {
								      margin-left: -2px;
							      }
							    }
							}


			            	a {
				             border-bottom: 4px solid transparent;

							  /*&:hover, &:focus, &:active {
							   background-color: $light-grey;
							   color: #555;
							  }*/
							}

						}
					}
				}
			}
		}


	@media only screen and (max-width: 767px) {
		margin-bottom: 15px;
	}

}//clean


.line{

	@extend .clean;

	border-bottom: 0;

	 @media only screen and (min-width: 768px) {
		#bp-subnav-global-nav{
		border-bottom: 4px solid $bp-primary !important;
		border-radius: 0;

		li{
			margin-bottom: -4px;
		}

		ul.dropdown-menu li a{
			margin-bottom: 4px;
		}

		a:hover{
				color: #777;
				background-color: transparentize($bp-primary, .7) !important;

		}
	}

	.dropdown-menu>.active>a,
	.dropdown-menu>.active>a:hover,
	.dropdown-menu>.active>a:focus{
		color: #555;
	}

		li.active{

			a,
			a:hover,
			a:focus{
				background-color: transparentize($bp-primary, .7) !important;
			}
		}

		.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
			background-color: transparentize($bp-primary, .7) !important;
		}

		.dropdown-menu{
			padding: 0 !important;

			li{
				margin-bottom: 0px;
			}

		}
	}

	@media(max-width: $small) {
		li.active a{
			background-color: transparent !important;
		}
		li.active{
			background-color: transparentize($bp-primary, .7) !important;
		}

		li.open a {
			//nav commit
    	background: transparent !important;
		}
	}

}//line



// project specific header styles


.brp .head #website-name a {
	font-size: 28px;
}
