*{
	box-sizing: border-box;
}

.head, .foot, .subnav-wrapper, .brand-row {
  max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;

}

.head {

	    @media(max-width: $small) {
		    margin-bottom: 5px;
		}

	&.clean {
		margin-bottom: 0;

		@media only screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}
}

.home {
	 .col-2 {
		 .grid {
			 background-color: $white;
			 position: relative;
             margin: -190px 0 0 15px;
             border-top-left-radius: 7px;
			 border-top-right-radius: 7px;
			 padding: 0 15px;


      @media(max-width: $medium-large) {
			   margin-top: -100px;
			 }

			 @media(max-width: $medium) {
			   margin-top: 0px;

			 }
			 @media(max-width: $small-landscape) {
				 margin: 0 auto;
			 }

		 }
	 }

	 .full-bleed.top-banner {

		 .text-overlay-wrapper {
			 top: 5%;
             left: 15%;
			 max-width: 844px;
			 max-height: 400px;

			    h1,p {
				  text-shadow: 2px 3px 3px rgba(0,0,0,0.2);
			    }

			    h1 {
				    font-family: $highlight-font;
				    letter-spacing: -0.047em;
				    margin-bottom: 8px;
				    color: $white;
				    font-weight: 300;
			    }

			    p {
				    font-size: 20px;
				    color: $white;
				    letter-spacing: .03em;
				    line-height: 1.4;
			    }

			 .caption {
				bottom: 16%;
				right: 2%;

			 }

			 @media(max-width: $highres-view) {
				left: 12%;
				max-height: 350px;
			 }

			 @media(max-width: $laptop-large) {
				left: 4%;
				max-height: 290px;

				 .text-overlay-middle .text-article-display {
					 margin-top: 0;
				 }
			 }

             @media(max-width: $medium) {
	             left: 2%;

	             .text-overlay-middle .text-article-display {
					 margin-top: -12px;
					 max-width: 70%;
				 }

	             .caption {
		           bottom: 23%;
                   right: 5%;
                   font-size: 88%;
	             }

	             h1 {
		             font-size: 24px;
	             }

	             p {
		             font-size: 14px;
		             max-width: 60%;
	             }

	             .btn-lg {
		             font-size: 14px;
		             padding: 4px 10px;
	             }
	         }


	         @media (max-width: $small){

					    position: static;
					    margin: 10px auto 0;
					    padding: 0 20px 4px;
					    max-width: 96%;

					    .text-overlay-middle .text-article-display {
					       margin-top: 0;
					       max-width: 100%;
				        }


						h1, p {
							margin:0;
							padding: 0;
							text-shadow: none;
						}


					    h1 {
							 font-size: 18px;
							 text-align: center;
							 line-height: 1.4;
							 font-weight: normal;
							 font-family: $body-font;
							 color: black;
							 max-width: none;
							 text-transform: none;
					    }

					    p {
						    max-width: 100%;
						    text-align: center;
						    font-size: 14px;
						    font-weight: 200;
						    margin-bottom: 6px;
							padding: 0 15px;
							color: $dk-grey;
					    }

					    .btn.btn-lg.btn-primary {
						   font-size: 11px;
						   padding: 4px 8px;
						   margin: 10px auto;
						   display: block;
						   width: 47%;

						   &.btn-second {
							   margin-left: 4px;
						   }
		                }

					    .caption {
						    display: none;
					    }



	         }

		 }

	 }
}

.subnav-wrapper {
    display: flex;
	padding: 0;
    padding-left: 15px;

    @media(max-width: $medium){
	    margin-bottom:10px;
	    margin-top: 10px;
    }

    @media(max-width: $small){
	    margin-bottom:0;
	    margin-top: 0;
	}
}

#bp-article-content {
	margin: 0 auto;
	padding: 0 15px 15px;

    @media(max-width: $medium){
	   padding: 0 15px 20px;
	}

    @media(max-width: $small){
	   padding: 0 15px 20px;
	}
}

.col-1 {
	@include outer-container(1230px);
    margin: 0 auto;

	.grid {
		@include span-columns(10);
		@include shift(1);
		float: none;
	}

	@media(max-width: $small){
	   .grid {
		 @include span-columns(12);
		 @include shift(0);
		 padding: 0 15px;

	   }

	}
}

.col-2 {
@include outer-container ($max-width);


	.grid {
		@include span-columns(9);
		@include row();
		padding: 0 15px;

		@media(max-width: $medium){
			@include span-columns(8);
			padding-top: 0;
		}


		@media(max-width: $small-landscape){
			@include span-columns(12);
			padding-top: .75em;
		}

		.enews-widget {
		   width: 45%;
           float: left;
           clear: left;

           	@media(max-width: $small){
	           	width: 100%;
	           	float: none;
		    }
		}

	}

	.sidebar {
		@include span-columns(3);
		margin-top: 1.5em;

			@media(max-width: $medium){
				@include span-columns(4);
				margin-top: 0;
		    }

			@media(max-width: $small-landscape){
				@include span-columns(12);
			}
	}

}

// wide two columns
.narrow-column {
	@include outer-container ($max-width);

	.grid-container{
		@include span-columns(10);
		@include shift(1);
		@media(max-width: $medium){
			@include span-columns(12);
			@include shift(0);
		}
	.grid {
		@include span-columns(8);
		@include row();
		padding: 0 15px;

		@media(max-width: $medium){
			@include span-columns(12);
			padding-top: 0;
		}


		@media(max-width: $small-landscape){
			@include span-columns(12);
			padding-top: .75em;
		}

		.enews-widget {
		   width: 45%;
           float: left;
           clear: left;

           	@media(max-width: $small){
	           	width: 100%;
	           	float: none;
		    }
		}

	}

	.sidebar {
		@include span-columns(4);
		margin-top: 1.5em;

			@media(max-width: $medium){
				@include span-columns(12);
				margin-top: 0;
		    }

			@media(max-width: $small-landscape){
				@include span-columns(12);
			}
	}
	}

}

.col-1 .grid, .col-2 .grid {

	.shaded {
         @include linear-gradient($light-grey, $shaded-grey);
	     padding: 1em;
    }

	.col-nested {
		@include outer-container;
		text-align: center;
		margin: 15px 0;

		h4 {
	          @extend .color-header;
	          padding: 10px;
	          text-align: left;
		}

		div {
		  text-align: left;
		   padding: .75em;
		   font-family:

		         ul  {
			         list-style: none;
			         margin: 0;
			         padding: 0;
			         line-height: 1.6;
		         }
		}


	}

	.col-2-nested {

	    .nested-col {
	         @include span-columns(6);
	         @include omega;
	    }



	}

	.col-3-nested {

	    .nested-col {
	         @include span-columns(4);
	         @include omega;

	    }
	}

	.col-4-nested {

	   .nested-col {
	         @include span-columns(3);
	         @include omega;
	    }
	}

	.col-2-nested, .col-3-nested, .col-4-nested {

		div, p {
		    font-size: 1.05em;
		    font-weight: 300;
		    color: #222;
		    letter-spacing: 0;
		    line-height: 1.6;
		    font-family: $body-font;
		}

		@media(max-width: $small){
			.nested-col {
				@include span-columns(12);
				@include omega;

		    }
		}
	}


	.category-page {
		  @include outer-container;
		  text-align: center;
		  margin: 1em 0;

		    .category-description {
			    text-align: left;

			    p {
                margin: 0;
			    padding: 0;
			    font-size: 16px;
			    max-width: 100%;
			    font-weight: 300;
			    color: #222;
			    letter-spacing: 0;
			    line-height: 1.6;
			    margin-bottom: 15px;
			    }
		    }

			.nav-area {
			 @include span-columns(3);
			 margin-top: 1.5em;


			   .well {
				 padding: 0;
				 line-height: 2.6;
				 text-align: left;
				 background-color: transparent;
                 border: none;
                 box-shadow: none;
                 padding-right: 10px;


				   ul {
					   list-style: none;
					   margin: 0;
					   padding: 0;

					   li {
						   padding-left: 15px;
					   }
				   }


				   li {
					 list-style: none;
					 font-size: 16px;
					 line-height: 1.3;
					 border-bottom: 1px solid $shaded-grey;

						   a {
							   display: block;
							   padding: 10px 0;

						   }

						@media(max-width: $medium){
							font-size: 14px;
						}

						&:last-child {
							border-bottom: none;

							>a {
							  border-bottom: 1px solid $shaded-grey;
							}

						}


						&.categories>a {
					      border-bottom: 1px solid $shaded-grey;

						}


				   }


			   }

			 @media(max-width: $medium){
			     @include span-columns(12);
			     text-align: left;
			     padding: 0;
			     margin-top: 0;
			 }

			 @media(max-width: $small){
			   @include span-columns(12);
			   padding-top: 0;
			   text-align: left;

			     button {
					 padding: 0;
					 margin: 0;
					 padding-bottom: 10px;
					 margin-top: 5px;
					 width: 50%;
					 text-align: left;
					 font-size: 16px;
					 border-bottom: 1px solid $border-grey;
					 border-radius: 0;
					 color: $bp-primary;
					 background-color: transparent;

								&:active,
								  &.active {
								    &:focus,
								    &.focus {
								      @include tab-focus;
								    }
								  }

								  &:hover,
								  &:focus,
								  &.focus {
								    color: $bp-primary;
								    text-decoration: none;
								  }

								  &:active,
								  &.active {
								    outline: 0;
								    background-image: none;
								  }

								  &.disabled,
								  &[disabled],
								  fieldset[disabled] & {
								    cursor: $cursor-disabled;
								    @include opacity(.65);
								    @include box-shadow(none);
								  }

								 span {
								     font-weight: 700;
								 }
			     }

		     }


			}//end nav-area

			.cat-list-area {
			 @include span-columns(9);
			 margin-top: 1.5em;
			 padding-left: 6px;

			  @media(max-width: $medium){
			     @include span-columns(12);
			     padding-left: 0;
			  }
			}


		 @media(max-width: $small){
			 margin-top:0;

			 .nav-area {
				 margin-top: 0;
			 }
		 }

	    }//end category page

	//category page with no navigation
	.category-page.no-nav {

		.cat-list-area {
		 @include span-columns(12);
		 margin-top: 1.5em;
		 padding-left: 6px;
		}
	}

}

#comment-area.container {
	@include outer-container();
	margin-bottom: 10px;
	border-top: 2px solid #d0cece;
	clear: both;


	.comment-sidebar-section {
	 	 @include span-columns(4);
	 	 @include shift(8);

	 	  h3 {
		 	@extend .color-header;
		 	margin-bottom: 20px;
		 	display: block;
	 	  }


	 	  .article-list {

			  ul {
				  margin: 0;
				  padding: 0;

				   li {
				      max-width: 170px;
					  margin-bottom: 15px;
	                  list-style: none;
					  float: left;

					  	&:nth-child(odd) {
		                 margin-right: 19px;
		                }
				    }
			   }
		  }

		  .article-list.list-style {

					&.narrower {
						width: 72%;
						max-width: 72%;

						@include breakpoint(small down) {
							width: 100%;
							max-width: 100%;
						}
					}

			   ul {
				  margin: 0;
				  padding: 0;

				   li {
				    max-width: 100%;
					  margin-bottom: 15px;
	                  list-style: none;
					  float: left;

					  	&:nth-child(odd) {
		                 margin-right: 19px;
		                }

						.article-item-media {
						@include span-columns(3);
						}
						.article-item-body {
					    @include span-columns(9);
					    }
				    }
			   }

		  }
	}

	.comment-section {
	 @include span-columns(8);
	 @include shift(-12);
	 padding-right: 45px;

		 h3 {
		  font-family: $heading-font;
		  margin-bottom: 10px;
		  font-size: 28px;
	     }
	}


	@media(max-width: $medium) {
		padding: 0 15px;

		.comment-sidebar-section, .comment-section {
           @include span-columns(12);
           margin-left: 0;
        }

        .comment-sidebar-section {


	        .article-list {

		        ul li {
			        max-width: 100%;
		        }
				.content-download span {
					right: 0;
				}

			    .article-item-media {
				    @include span-columns(4);
			    }

				.article-item-body {
				    @include span-columns(8);
				}
			}

        }

        .comment-section {
        	padding-right: 0;
        }

    }

}


.footer-wrap {

	    .cu-logo {
			@include span-columns(3);

	    }

	    .contact-info {
			@include span-columns(9);
	    }



		@media(max-width: $medium) {
			.cu-logo, .contact-info {
					@include span-columns(12);
					margin-top: 0;
					margin-bottom: 1em;
					text-align: center;
			}
	    }
}
