/* Seach modal styles */
.search-modal {
	font-family: $body-font;

	
	
	.modal-content {
	
	   .modal-header  {
	    border-bottom: none;	   
		   
     		 .close {
	         font-size: 28px;
	         margin-top: -2px;
	         cursor: pointer;
		     padding: 0;
		     background: 0 0;
		     border: 0;
		     -webkit-appearance: none;
			 }
		 
			 .modal-title {
			 font-weight: 400;
			 margin: 0;
	         line-height: 1.42857143;
	         font-size: 20px;
	         }
	         

        }
	   
       .modal-body {
       
            input {
	          margin: 0 0 10px;
			  border: 1px solid #ccc;
			  padding: 5px;
			  width: 80%; 
			  
              
	              .search-query {
		          border-top-left-radius: 4px;
	              border-bottom-left-radius: 4px;
	              }
	            
            }
            
            button {
			background-image: -webkit-linear-gradient(top, 0,$bp-primary 100%);
		    background-image: -o-linear-gradient(top,$bp-lt-primary 0,$bp-dk-primary 100%);
		    background-image: linear-gradient(to bottom,$bp-lt-primary 0,$bp-dk-primary 100%);
		    background-repeat: repeat-x;
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f483e', endColorstr='#ff30271b', GradientType=0);
		    border: none;
		    font-size: 16px;
		    font-weight: 300;
		    padding: 7px 10px;
		    letter-spacing: -.009em;
		    color: #fff;
		    width: 20%;
		    margin-left: -4px;
            margin-top: -1px;
		   }
            
        }
	}

}



	 
