.sidebar {
	color: white;
	
	.widget {
		margin: 0;
		padding: 0;
		max-width: 240px;
		color: $nav-shade-grey;	
			
		
		@media(min-width: $medium) {
			min-height: 60px;
		}
		

		h4 {
            margin: 0;
		    padding: 0;
		    border-radius: 4px;
		    color: $grey;
		    font-family: $heading-font;
		    display: block;
		    margin-bottom: 10px;
		    
	    	  @media(min-width: $tablet) {
			   font-size: 0.813em;
			  } 
		}
		
		
		h3 {
          @extend .color-header;
          margin-bottom: 14px;
		}
		
		
		ul {	
			list-style: inside square;
			padding-left: 5px;
			
			li.cat-item {
				padding-left: 5px;
				line-height: 2.0;
				
				ul.children {
					padding-left: 5px;
					
					li {
						padding-left: 5px;
					}
				}
				
			}
					
			li:last-child a {
				border-bottom: none;
			}
			
		}
		
		.article-list {
			ul {
			list-style:  none;
			margin: 0;
			padding: 0;
			   li {
				   padding: 0;
				   margin: 0;
				   margin-bottom: 20px;
			   }
			}
		}
		
		a.cta-button {
			display: block;
			@include linear-gradient( to bottom, $nav-grey, $light-grey);
			border-radius: 4px;
			border-top: none;
			text-align: left;
			padding: .75em 0 .75em .75em;
			
			img.bird-icon {
				max-width: 22%;
			}
			
			i.fa-chevron-right {
				margin-left: 5px;
			}
		}
		
		
	}
	
	.textwidget {
	margin-bottom: 30px;	
		
		ul {
			li {
				font-size: 14px;
				color: $nav-shade-grey;
			    margin-bottom: 8px;
			    font-weight: 500;
			}
			
		}
		
		.events-list {
			
			ul  {
				list-style: none; 
				margin: 0; 
				padding: 0;
				
				li {
					margin-bottom: 5px;
					margin-top: 5px;
					border-bottom: 1px dotted #ccc;
					padding-bottom: 10px;
				
					
					span {
						font-weight:200;
						
						&:first-child {
							font-weight: 400;
							color: #222;
						}
					}
					
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
	

}

.comment-sidebar-section {
	
	h3 {
		margin-bottom: 10px;
	}
	

}