.social-share {
	
	@extend .clearfix;
	margin-bottom: 15px;
	
	.social-icons {
		float: left;
		
		a {
			color: $bp-primary-btn;
		}
		
	}
	
	.comment-box {
		float: left;
		margin-left: 4px;
		background-color: $bp-primary-btn;
		height: 22px;
	    border-radius: 4px;
	    padding: 0 7px;
	    margin-top: 1px;
	    display: block;
	    
	    a i.fa-comment, a span {
		    color: #fff;
	    }
	    
	    a span {
		   margin-left: 2px;
	    }
	    
	}
	
	a {
		 i {
			 font-size: 24px;
			 margin-right: 2px;
		 }
		 
		 i.fa-comment {
			 font-size: 16px;
			 margin-top: 2px;
	     }
	}
	
}