//subnav reset
.subnav-wrapper  {
	
	h4, div, .row, ul, li, a, .navbar-nav>li>a, .nav>li>a {
		margin: 0;
		padding: 0;
	}
}

.nav-area {
	margin: 0;
	padding: 0;

	
	 button {
	 padding: 0;
	 margin: 0;
	 width: 50%;
	 text-align: left;
	 font-size: 16px;
	 border-bottom: 1px solid $border-grey;
	 border-color: none;
	 color: $bp-primary;
	 background-color: transparent;
	 
				&:active,
				  &.active {
				    &:focus,
				    &.focus {
				      @include tab-focus;
				    }
				  }
				
				  &:hover,
				  &:focus,
				  &.focus {
				    color: $bp-primary;
				    text-decoration: none;
				  }
				
				  &:active,
				  &.active {
				    outline: 0;
				    background-image: none;
				    box-shadow: none;
				  }
				
				  &.disabled,
				  &[disabled],
				  fieldset[disabled] & {
				    cursor: $cursor-disabled;
				    @include opacity(.65);
				    @include box-shadow(none);
				  }
	 
				 span {
				     font-weight: 700;
				 }
	 
	}
	
	@media(max-width: $medium) { 
		padding: 0 15px;
		
		button {
			margin-top: 10px;
		}
	}	
	
	@media(max-width: $small) { 
		padding: 0;
		
		button {
			margin: 15px 0 15px 15px;
		}
	}
}


.subnav-wrapper {
	
	h4, .row {
		float: left;
	}
	
	h4 {
		margin-right: 15px;
		margin-top: 15px;
	}
	
	.row {
		
		 ul.top-three {
			 background: none;
			 border: none;
			 margin: 10px;
			 padding: 0;
			 max-width: 100%;
			 
			 
			li {
			 
			   a {
				 background: none;
				 border: 0;
				 display: block;
				 font-size: 14px;
				 border-right: 1px solid $border-grey;
				 padding: 5px 15px;
				 font-weight: 300;
				 color: $bp-primary-bright;
				 				 
				 &:hover {
					text-decoration: underline;
				 }

			   }
			   
			   &:last-child {
				   a {
					   border-right: none;
				   }
			   }
					 
			   &.active {
				 a {  
				 background-color: $light-background-grey;
				 color: $gray;				 
				 }
			   }	
			   	 
		    }
			
		 }

		 
		 @media(max-width: 767px) {
			 width: 100%;
			 padding: 0;
			 
			 ul.top-three {
				margin: 0;
				padding: 0; 
				margin-bottom: 0;
				width: 100%;
				 
				 li {
				 padding: 0;	
				 margin: 0; 
				 
					 a {
					   display: block;
					   padding: 10px 0;
					   font-size: 18px;
					   border-right: none;
					   border-bottom: 1px solid $shaded-grey;
					 }
					 
					 &.active {
						 a {  
						 background-color: initial;		
						 color: initial;				 
						 }
					 }	
				 }
			 }
	    }
	}// end of subnav-wrapper row
	
}



