.video-player {
    margin: 30px auto;
    width: 100%;
    border-bottom: 3px solid #eee;
    float: right!important;
	  clear: both;

	.video-container {
		  position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 0;
	    height: 0;
	    overflow: hidden;

        &.spectogram {
          padding-bottom: 40%;
        }


			iframe {
			  position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
			}
	}


	 small {
		display: block;
	    color: #333;
	    margin: 0;
	    padding: 0;
	    margin-top: 15px;
	    padding-bottom: 10px;
	 }
}


.video-player.small, .video-player.medium, .video-player.large {
    margin-top: 0;
}


.video-player.small {
	max-width: 37%;
    margin-left: 30px;
}


.video-player.medium {
	max-width: 55.65%;
    height: auto;
    margin-left: 30px;
}

.video-player.large {
	max-width: 100%;

}

@media(max-width: $small) {

	.video-player.small, .video-player.medium, .video-player.large {
	     max-width: 100%;
	     width: 100%;
	     padding: 0;
    }
}
