/* Generic Styles */
body {
	background-color: $bg-color;

}

h1, #bp-article-content h1 {
	font-size: 32px;

	 &.bannerTitle {
		 font-size: 28px;
	 }

	 @media(max-width: $medium) {

 				&.bannerTitle {
 					font-size: 18px;
 				}
	 }

	 @media(max-width: $small) {
	  font-size: 28px;
	  font-weight: 100;
	  line-height: 1.2;
     }
}

h1, h2, h3 {
	font-family: $heading-font;
}

h4, h5, h6 {
	font-family: $body-font;
	font-weight: 400;
	color: #333;
}

p, #main-story p, #main-story ul, #main-story ol, .page-template-default .content ul, .page-template-default .content ol, .page-template-one-column-template .grid ol, .page-template-one-column-template .grid ul, .home .col-2 .grid ul, .home .col-2 .grid ol  {
    margin: 0;
    padding: 0;
    max-width: 542px;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    letter-spacing: 0;
    line-height: 1.6;
    margin-bottom: 20px;

    &.intro {
	    max-width: 100% !important;
    }
}

.page-wide{
	p, #main-story p, #main-story ul, #main-story ol, .page-template-default .content ul, .page-template-default .content ol, .page-template-one-column-template .grid ol, .page-template-one-column-template .grid ul, .home .col-2 .grid ul, .home .col-2 .grid ol  {
	    max-width: 742px !important;

	    &.intro {
		    max-width: 100% !important;
	    }
	}
}


#main-story ul, #main-story ol, .page-template-default .content ul, .page-template-default .content ol, .page-template-one-column-template .grid ol, .page-template-one-column-template .grid ul {
	padding: 0 45px;

	li {
		margin-bottom: 10px;
	}
}

#main-story p.wpmref {
	max-width: 85%;
    padding-left: 2em;
    text-indent: -2em;
}

.home .col-2 .grid ul, .home .col-2 .grid ol, .home .col-2 .grid li, .home .col-2 .grid p, .home .col-2 .grid img {
	max-width: 100%;

	&.narrow-width {
		max-width: 60%;
	}
}

.home .col-2 .grid>ul, .home .col-2 .grid>ol, .home .col-2 .grid>ul ul .home .col-2 .grid>ol ol {
	padding: 0 30px;
	line-height: 1.8;
}

p.intro {
	max-width: 88%;
}


.grid p img {
	height: 100%;
}

a {
	color: $bp-primary;

	  &:hover,
	  &:focus {
	    color: $bp-lt-primary;
	    text-decoration: $link-hover-decoration;
	  }
}

.btn {
	border-color: $bp-dk-primary;

	   &:hover,
	  &:focus,
	  &.focus {
		  	border-color: $bp-dk-primary;
	  }
}


.nav-area button.btn {
		 border-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: $bp-primary-btn;
    border-color: $bp-dk-primary;

      &:hover,
	  &:focus,
	  &.focus {
	color: $white;
	background-color: $bp-dk-primary;
    }

    &.btn-second {
	    margin-left: 6px;
    }
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open>.btn-primary.dropdown-toggle:hover, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle.focus {
	color: #fff;
    background-color: $bp-primary-btn;
}


.pagination>li>a, .pagination>li>span {
	color: $bp-primary;

	&:hover, &:focus, &span:hover, &span:focus {
	  color: $bp-dk-primary;
	}
}

.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
	background-color: $bp-primary-bright;
    border-color: $bp-dk-primary;
}



.head nav .navbar-default.top-two >li {

	&:first-child {
		a:hover {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}

	&:last-child {
		a:hover {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
        }
	}

	a {
		.glyphicon-home:before {
			margin-left: -2px;
		}
	}
}

.head nav .navbar-default.top-two >li.active {
	a:hover {
	   background-color: $bp-lt-primary;
	   color: $white;
	}

	&:first-child {
		a:hover {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}

	&:last-child {
		a:hover {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

.head nav .navbar-default.top-two li.dropdown.open {
	a:hover {
		border: none;
		border-radius: 0;

		    @media(max-width: 767px) {
		       color: #333;
               background-color: transparent;
			}
	}
}

.head.clean nav .navbar-default.top-two >li, .head.clean nav .navbar-default.top-two >li.active  {

	&:first-child, &:last-child {
		border-radius: 0;
	}
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: $bp-lt-primary;
}

small {
	float: left;
}


.light {
    color: $off-white;
}

.color-header {
	font-family: $body-font;
	color: $bp-dk-primary;
	font-size: 1.125em;
	text-transform: uppercase;
	border-bottom: 2px solid $border-grey;
	padding-bottom: 6px;
}


.border-btm {
	border-bottom: 3px solid $light-grey;
	padding-bottom: 15px;
}




.article-list-narrow {

	    @include span-columns(12);

		.content-download span {
			right: 0;
		}

	    .article-item-media {
		    @include span-columns(4);
	    }

		.article-item-body {
		    @include span-columns(8);
		}
}


.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-subnav-btn {
	 padding: 0;
	 margin: 0;
	 margin-left: 15px;
	 padding-bottom: 15px;
	 margin-top: 5px;
	 width: 50%;
	 text-align: left;
	 font-size: 16px;
	 border-bottom: 1px solid $border-grey;
	 color: $bp-primary;
	 background-color: transparent;

				&:active,
				  &.active {
				    &:focus,
				    &.focus {
				      @include tab-focus;
				    }
				  }

				  &:hover,
				  &:focus,
				  &.focus {
				    color: $bp-primary;
				    text-decoration: none;
				  }

				  &:active,
				  &.active {
				    outline: 0;
				    background-image: none;
				  }

				  &.disabled,
				  &[disabled],
				  fieldset[disabled] & {
				    cursor: $cursor-disabled;
				    @include opacity(.65);
				    @include box-shadow(none);
				  }

	 span {
	     font-weight: 700;
	 }
}

#next-prev-links {
	padding: 15px 0;
    border-top: 1px solid #ccc;

     div {
        max-width: 30%;

        &.prev {
	     float: left;
         clear: left;
        }

        &.next {
	     float: right;
         clear: right;
        }

		 @media(max-width: $medium){
			 padding: 15px;
			 max-width: 45%;

	     }
     }
}

.easy-table tr {

    &:first-child {
	  td {
	  border-top: none;
	  }
	}
}



@media (max-width: 767px) {
	.table-responsive {
     border: none !important;
    }
}


//accordion
.accordion {
	 h5 {
		background-color: #f5f5f5;
		padding: 20px 0;

	   div {
		  border: none;
		  color: $dk-grey;
			font-size: 1.25em;
			padding-left: 15px;
			display:block;
			cursor: pointer;

			  &:hover, &.btn-link:focus {
					color: $bp-primary;
					text-decoration: underline;
				}
	   }
	 }

	 .card-body {
		 margin: 0;
     padding: 0;
     max-width: 100%;
     font-size: 16px;
     font-weight: 400;
     color: #222;
     letter-spacing: 0;
     line-height: 1.6;
     margin-bottom: 20px;
		 padding: 10px;

		 p {
			 max-width: 100%;
		 }
	 }

	 br {
		 display: none;
	 }

	 @media(max-width: $small) {
       h5 a {
				 padding-left:0;
				 padding: 5px 15px;
			 }
	 }


}//end accordion styles

//zotero
.zp-Zotpress {
	max-width: 720px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
    line-height: 1.6;

	.csl-entry {
		margin: 0 .4em .92em 1.5em;
        line-height: 1.5;
	}
}

@media(max-width: $small) {

	h1 {
		font-size: 24px;
	}


}
