.red {
	fill: #E60000;
}
.yellow {
	fill: #F0E614;
}
.white {
	fill: #fff;
}
.black {
	fill: #000;
}


#theCornellLab {
	visibility: none;
	opacity: 0;
}

#CLO-bird {
	-webkit-transform: scale(3.8) translate(-95px,-17px);
	   -moz-transform: scale(3.8) translate(-95px,-17px);
	   		transform: scale(3.8) translate(-95px,-17px);
}

#whiteline {}
#wingstripe {}
#forhead {}
#chin {}
#beak {}
#body {}

#ofOrnithology {
	visibility: none;
	opacity: 0;
}

#whiteline {
	stroke: #fff;
	stroke-width: 1;
}

#forhead {
	visibility: hidden;
	}
#chin {
	visibility: hidden;
}
#tail {
	fill: #fff;
	stroke: #000;
	stroke-width: 0.65;
}

#CLO-SVG-full-logo {
	width: 100%;
}

@media (min-width: 100px) {
	#CLO-bird {
		-webkit-transform: scale(1.5) translate(0px,-8px);
		   -moz-transform: scale(1.5) translate(0px,-8px);
		   		transform: scale(1.5) translate(0px,-8px);
	}
	#theCornellLab {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1.5) translate(0px,-8px);
		   -moz-transform: scale(1.5) translate(0px,-8px);
		   		transform: scale(1.5) translate(0px,-8px);
	}
	#whiteline {
		stroke: #fff;
		 stroke-width: 0;
	}
	#forhead {
		visibility: visible;
	}
	#chin {
		visibility: visible;
	}
	#tail {
		fill: #F0E614;
		stroke-width: 0;
	}
}

@media (min-width: 150px) {
	#theCornellLab {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1) translate(0px,0px);
		   -moz-transform: scale(1) translate(0px,0px);
		   		transform: scale(1) translate(0px,0px);
	}
	#CLO-bird {
		-webkit-transform: scale(1) translate(0px,0px);
		   -moz-transform: scale(1) translate(0px,0px);
		   		transform: scale(1) translate(0px,0px);
	}
	#ofOrnithology {
		visibility: visible;
		opacity: 1;
	-webkit-transition: opacity 2s ease;
	   -moz-transition: opacity 2s ease;
	     -o-transition: opacity 2s ease;
	     	transition: opacity 2s ease;
	}
}
